[2015-12-15 02:42] ilyaraz opened #12 "Instance for the GloVe dataset"
Was it supposed to be _c4.2xlarge_ (not 2.4)?

[2015-12-15 04:10] erikbern commented on #12
yeah that sounds right :)

[2015-12-15 04:11] #12 closed

[2016-01-19 15:58] pombredanne opened #13 "Colors"
@erikbern Your choices of colors make the charts really hard to read... and I am cannot fathom what it would be for a color blind person. It would be great if you can pick something with more contrast and possibly avoid shades of blue/green/orange. Thanks!

[2016-01-19 16:39] erikbern commented on #13
sure makes sense. i can fix

[2016-01-19 23:25] pombredanne commented on #13
@erikbern Thank you my lord!

[2016-01-19 23:47] erikbern commented on #13
Btw the data and the plot script is in the repo, so feel free to update it yourself :)

[2016-01-20 09:25] pombredanne commented on #13
I will try, though that removes a bit of the charm of having you handle all the setup ;)
And http://matplotlib.org/users/colormaps.html seems to have too many choices...

[2016-01-20 13:25] erikbern commented on #13
you don't need any setup for the plotting, i think cloning the repo and running plot.py should be enough :)

but i can take a look at this too

[2016-01-30 21:38] erikbern commented on #13
better now? :)

[2016-01-30 21:38] #13 closed

[2016-01-31 07:25] pombredanne commented on #13
Thank you++. I can see clearly now.

[2016-02-05 19:23] dafukua opened #14 "Any plan to test even higher dimensional data?"
It'll be very interesting to see the comparisons between different suitable methods for higher dimensional data (e.g., several thousands or even larger).

Thank you.

[2016-02-05 19:25] erikbern commented on #14
might actually run a test with 1000D... was thinking about that. would be fun

[2016-02-07 22:23] searchivarius commented on #14
Why not trying sparse TF*IDF?

[2016-02-08 13:31] erikbern commented on #14
Does any of the libraries support sparse data?

Btw I tried running a 1000D dataset (word2vec on freebase) yesterday but the code isn't very memory efficient so I had to rent a r3.8xlarge (244GB)... was super slow and unfortunately my spot instance was killed later. I think I need to fix up the scripts before I rerun the experiments.

[2016-02-08 14:39] searchivarius commented on #14
I am not sure how many libraries support sparse data. Anyways, if you are interested in more dimensions, here's probably a good data set:
http://disa.fi.muni.cz/profiset/
Disclaimer: I didn't use it yet, but looks promising.

[2016-03-17 22:24] ludwigschmidt commented on #14
I think higher-dimensional dense data (say around 1000 dimensions) and very high-dimensional sparse data (say 10k - 100k dimensions) would both be very interesting benchmarks.

FALCONN (added in #16 ) supports sparse data. If other libraries also support sparse data, @ilyaraz and I can help with setting up a benchmark.

[2016-03-18 02:00] searchivarius commented on #14
@ludwigschmidt AFAIK, currently only two libraries support sparse spaces.

[2016-03-18 02:08] searchivarius commented on #14
But I would be all for some more tests with weird spaces at least l1 or lp with the fractional p < 1.

[2016-03-18 03:02] erikbern commented on #14
We should test for 1000D at least. But need to improve the script a bit first.

[2016-03-18 08:05] ludwigschmidt commented on #14
I think it would be also be interesting to consider a 1000D dataset without increasing the available memory by 10x. That would test the libraries in the regime where less memory is available.

[2016-03-18 12:58] erikbern commented on #14
Sure. If someone has time, would really appreciate it if you can make the scripts work with larger data set. Right now it's quite inefficient – it reads the entire data set into memory (using double precision). It would be much better if we could just build up the index incrementally for instance.

[2016-03-18 16:40] searchivarius commented on #14
@ludwigschmidt while measuring memory footprint is important (and we do it automatically in NMSLIB), I would be against arbitrary memory constraints. For one, this will become an exercise in data compression for methods that have small memory footprint already (e.g., for some still good parameters SW-graph uses 20-40% of what the data set uses, even less for some highdimensional data sets). And fo

[2016-04-16 11:58] musicformellons opened #17 "Falconn not included?"
Is there a specific reason why Falconn is not included?

https://github.com/falconn-lib/falconn

[2016-04-16 20:48] erikbern commented on #17
It is included – see https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/__init__.py#L21

I just haven't run the benchmark in a while. Planning to re-run it in a couple of weeks

[2016-04-16 20:48] #17 closed

[2016-04-16 20:51] erikbern commented on #17
actually let me re-run it now. should be done in a day or so :)

[2016-04-16 20:53] musicformellons commented on #17
Great, thanks!

[2016-04-17 16:13] erikbern commented on #17
added some intermediate results, will push more results in a day or two

[2016-06-08 21:25] aaalgo opened #20 "float32 vs float64"
It appears that the benchmark has switched from float32 to float64 quite a while ago, and this somehow contributed to a substantial performance regression of KGraph, which is only optimized for float32 although float64 also runs.

Below are my justifications for using float32 in the context of approximate K-NN search:
- The search process is usually approximate, and the feature data are usually no

[2016-06-08 21:31] erikbern commented on #20
I didn't realize that we have switched to float64. Annoy uses only float32 for instance. If it's just a matter of setting `dtype=numpy.float32` then I can go ahead and fix that. I agree that float32 is more realistic since it's rarely useful to use 64 bit precision. In fact I even experimented a bit with float16 and float8 for Annoy to see if it would be even faster (it was not)

[2016-06-09 17:52] aaalgo opened #22 "index construction time plotting"
I plotted index construction time using data saved in glove.txt and see a spread of almost 2 orders of magnitude (hnsw(nmslib) index construction might have been parallelized according to code).  I'm most interested in the performance of sw-graph vs hnsw.  It's very hard to say which one is better because one might be able to improve the search performance of sw-graph by building more aggressive i

[2016-06-09 18:15] erikbern commented on #22
This is great – feel free to send me a PR and I can include those benchmarks in the README.

The standard right now is using a c2.xlarge on AWS. I think it could be interesting also to look at bigger data sets in which case we should use a machine type with more RAM

[2016-06-09 18:16] erikbern commented on #22
Btw in the precision-performance I filter out any points that are not on the Pareto frontier (meaning there is another point that dominates it both in terms of precision and performance)

[2016-06-09 18:24] aaalgo commented on #22
The construction time plot uses exactly the same Pareto frontier points.

diff plot-time.py plot.py
51c51
<                 ys.append(t[-3]) #1.0 / t[-2])    # this is indexing time
---

I don't see c2.xlarge instances on EC2.  They might be no longer available.

[2016-06-09 18:36] erikbern commented on #22
Sorry I meant c4.2xlarge – it says that in the readme

[2016-06-13 08:32] erramuzpe opened #23 "Nearpy distance is Cosine by default - Euclidean not applied"
Hi,

I was checking some libraries and realized that in the case of Nearpy, the euclidean distance is not applied in the benchmark. As can be seen in the [docs](https://github.com/pixelogik/NearPy#engine) of Nearpy, the default is the cosine but the euclidean one is not applied. I will PR changes
thanks for the bench, it's great

[2016-06-13 12:38] #23 closed

[2016-06-15 02:58] aaalgo opened #25 "benchmark running for too long"
I've been running the benchmark on a machine that shouldn't be much slower than c4.2xlarge (core i7-2600k @ 3.4GHz).  It's been 5 days and I only see 195 lines in sift.txt (the plot looks good though).  There are 321 lines in the standard glove.txt, and 82 lines in the standard sift.txt which I think is incomplete.  So I estimate it will take 15 - 20 days for me to finish running everything.  Is i

[2016-06-15 03:03] erikbern commented on #25
i think i takes something like 5-7 days to run everything

you don't have to delete some results though – nearpy, lshf, panns etc haven't changed much

good to see that kgraph is back!

[2016-06-15 09:51] searchivarius commented on #25
@aaalgo please, uncomment the line where SW-graph and HNSW save indices. This will make things faster.

[2016-06-17 20:49] aaalgo commented on #20
I checked the implementation all contenders, and found the following all use float32 internally: NMSLib, Falconn, Annoy, FLANN and KGraph.  NMSLib, Annoy and FLANN do automatic conversion on the C/C++ side.  Falconn and KGraph does explicit conversion in the benchmark code.  So I think the benchmark is totally fair and reasonable as far as the above methods are concerned.

Among the remaining ones

[2016-06-17 20:49] #20 closed

[2016-06-17 21:01] aaalgo commented on #25
Is there any reason to disable saving index on disk?  I thought I was following NMSLib's example to save the index, but didn't realize the saving's actually disabled by a comment.  I think without saving index, the computation time has become almost impractical to me.

[2016-06-17 21:05] searchivarius commented on #25
@aaalgo I think @erikbern had some problems with disk space.

[2016-06-17 21:08] aaalgo commented on #25
That's legitimate.  I'll leave @erikbern to decide whether or not to comment out the line for KGraph:
https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/__init__.py#L238

[2016-07-05 15:54] searchivarius commented on #25
@aaalgo now, I made the benchmark save indices by default (for nmslib & kgraph). One should be able to cancel saving by --no_save_index

[2016-07-22 19:28] #22 closed

[2016-07-22 19:29] aaalgo commented on #25
I think saving index is a good enough solution.

[2016-07-22 19:29] #25 closed

[2017-03-08 02:57] erikbern opened #33 "Add LOPQ"
https://github.com/yahoo/lopq

writeup from Flickr: http://code.flickr.net/2017/03/07/introducing-similarity-search-at-flickr/

[2017-03-15 10:07] mrgloom opened #34 "faiss"
Here is not direct comparision of faiss library:
https://github.com/facebookresearch/faiss/wiki/Indexing-1M-vectors

[2017-03-15 14:56] erikbern commented on #34
yes we should add this to ann-benchmarks

probably won't use their gpu acceleration though, just to be fair

[2017-10-10 23:36] #34 closed

[2017-10-16 20:29] alexklibisz opened #36 "Which libraries support incremental item additions?"
Thanks for putting this project together. Is there any way a table or small list could be included to describe which libraries support incremental item additions? I imagine for many this is an important criteria in real-time or near-real-time applications where new content is continuously added and needs to be indexed for look-ups.

[2017-10-16 21:03] erikbern commented on #36
i don't think any of them do, unfortunately :(

[2017-10-16 21:20] aaalgo commented on #36
Last time I checked (many years ago), FLANN's C++ API supported insertion.  In theory it's also easy for all LSH-based methods to support insertion.  The Python API might not have such functionality exposed though.

[2017-10-16 21:53] alexklibisz commented on #36
@aaalgo Yes from the FLANN website:

Though I'm still trying to figure out how to leverage this via Python.

[2017-10-16 23:55] alexklibisz commented on #36
@erikbern Do you have any recommendations for "online" NN-search from your experience? One approach I'm considering is to maintain an indexed lookup (e.g. Annoy) for the majority of my items as well as a brute-force lookup (e.g. sklearn) for the newest items. Then at some threshold, rebuild the index to include the newest points.

[2017-10-17 03:41] erikbern commented on #36
I don't have any great recommendations, but your idea makes sense though. You could even formalize it and have indexes that have size even powers of two, and any time you have two indexes of the same size, you merge them. That would give you log(n) amortized runtime, although worst case is linear.

[2017-10-17 05:59] yurymalkov commented on #36
@alexklibisz Both hnsw and sw-graph are built incrementally, and thus naturally support incremental item addition. Hovewer, nmslib does not have a python interface for that, only c++.

@erikbern @alexklibisz I think you are talking about Bentley-Saxe method. http://www.sciencedirect.com/science/article/pii/S030643791300104X

[2017-10-17 13:13] erikbern commented on #36
@yurymalkov yeah i've never heard of it, but think that's what i meant. basically play 2048 with the indexes :)

[2017-11-17 13:17] erikbern opened #39 "hdidx"
randomly stumbled upon this one: https://github.com/hdidx/hdidx

interface looks simple, should be easy to add

[2017-11-21 16:40] maumueller opened #41 "Split up building and query parameters"
Currently, we spend a lot of time basically building the same data structure over and over again. What we could do instead, is split up _build_ and _query_ parameters. For example, Annoy is currently configured by

[code]

It would save a lot of time, if one were to separate query and build parameters in the following way:
[code]
The idea would now be to build the data structure for each `build-ar

[2017-11-21 17:42] erikbern commented on #41
i like the idea – actually thought about something similar too. would help with the slow nmslib index building time as well

[2017-11-23 11:54] maumueller opened #43 "Random datasets too easy"
The random blobs created from sklearn seem to be far too easy to solve, see screenshot below. I propose to bring back the old random datasets that use https://github.com/maumueller/random-inputs/. For me the easiest way would be to create them, put them on a website, add a function to `datasets.py` that fetches it and transforms it correctly.

![image](https://user-images.githubusercontent.com/631

[2017-11-23 19:08] erikbern commented on #43
ok – i can also try to increase the number of blobs?

i think everything else equals, it's good to have a reproducible pipeline. if we end up using your algorithm that's fine, but is it hard to reimplement in python/numpy?

[2017-11-23 19:08] erikbern commented on #43
thanks for running this experiment btw!!

[2017-12-12 17:29] erikbern opened #44 "Add MRPT"
https://github.com/teemupitkanen/mrpt

[2017-12-25 20:00] irachex opened #46 "Add FLASH"
https://github.com/RUSH-LAB/Flash

https://arxiv.org/pdf/1709.01190.pdf

<img width="557" alt="screen shot 2017-12-26 at 03 41 38" src="https://user-images.githubusercontent.com/596262/34342645-3aff0e98-e9f1-11e7-812e-f2397f22abfb.png">

[2017-12-25 20:05] erikbern commented on #46
Looks like it's more for sparse vectors?

[2017-12-29 12:48] yurymalkov opened #47 "10X performance difference between multi-thread and single thread tests"
Good day!

I have measured the difference in performance when switching the use_threads parameter from True to False on hnsw (nmslib). As it turns out, the difference is really huge, ~ 10X on 1M SIFT for low recalls (see enclosed plots for a 6-core intel cpu), and likely is caused by the python-part overhead of the tester scripts.

Multi-thread (default):
![sift_mt](https://user-images.githubuserc

[2018-01-03 18:37] yurymalkov commented on #47
Here are the plots for the set of the fastest algorithms on SIFT 1M in two cases:
1. All algorithms are processed in the single thread-regime (by commenting all other options in runner.py)
![sift_st](https://user-images.githubusercontent.com/16265186/34526989-10183c16-f0b5-11e7-93fe-ec5481f97922.png)
2. Default, nothing changed - most of the algorithms are processed in the multi-thread regime.
![s

[2018-01-20 16:53] erikbern commented on #47
Hi @yurymalkov – sorry I forgot about this one. This is really weird, not sure what's going on. I'll take a look. @maumueller any idea?

[2018-01-20 16:59] erikbern commented on #47
I have a theory what's going on here. Is nmslib/hnsw using threads under the hood, even if queried with a single thread?

The time consumption is measured inside each thread. So if you query a library from a single thread, but the library uses multiple threads under the hood, it will benefit from speedups and make the QPS number great. However, if you saturate all CPU cores by querying from *multi

[2018-01-20 17:03] erikbern commented on #47
Btw one thing we could do to eliminate the Python overhead is to swap out the thread pool for a process pool...however that could cause issues for any algorithm that mutates the index during queries (the page cache would then force the index to be duplicated for each process). Not sure if that's a problem in practice.

[2018-01-20 17:11] yurymalkov commented on #47
@erikbern nmslib/hnsw search does **not** uses multi-threading under the hood, so this can be ruled out. It does use multi-threading for index construction though.

[2018-01-20 17:20] erikbern commented on #47
Are you sure it's not using eg a multithreaded linear algebra package or something similar?

It's possible that it's the Python overhead then, like GIL locking or something similar. Have you seen the macro `Py_BEGIN_ALLOW_THREADS`? I'm using it inside Annoy: https://github.com/spotify/annoy/blob/master/src/annoymodule.cc#L256 – it doesn't seem to be used in nmslib

[2018-01-20 17:35] yurymalkov commented on #47
@erikbern
Yes, I am sure. It does not use any packages. C++ tests are also fine, I got 200-300k QPS on low recalls using 1M SIFT on a 4-core 6700k - way more than in current benchmark, even if divided by the number of cores.
The GIL macros is used in nmslib. We discussed the GIL in https://github.com/erikbern/ann-benchmarks/pull/28

[2018-01-20 17:41] yurymalkov commented on #47
Probably a way to solve it is measuring search quality and time in different runs. I.e. measuring the time with minimal overhead.
Another option is using batch queries, allowing the algorithm to use multi-threading without the evaluation part.
Also one can set a single-cpu affinity of the search thread and run tests in single thread. This would prevent using multi-threading under the hood.

[2018-01-20 17:44] erikbern commented on #47
How do you feel about swapping out the thread pool for a process pool? It's a one line change and will support single/threaded libraries alike

[2018-01-20 17:53] yurymalkov commented on #47
I am not sure about that. I thought that multiproccessing adds significant overhead compared to GIL-aware lib calls. Anyway, we can try and see if the results on SIFT 1M are reasonable.
Also. What libraries now do not support multi-threading? FALCONN does support it now  https://github.com/FALCONN-LIB/FALCONN/issues/6

[2018-01-20 17:58] yurymalkov commented on #47
Also we can add a dummy algo which would just return random items to measure the overhead.

[2018-01-20 18:03] erikbern commented on #47
multiprocessing should add no CPU overhead since GIL doesn't matter any more. The only issue is since it's using fork(), the memory usage might go up (potentially a lot, if the index mutates)

[2018-01-20 18:07] erikbern commented on #47
I'm skeptical about batch queries, would rather not let algorithms use that.

I can switch back to single threads if you can give me some pointers about how to implement CPU affinity? Let me know

[2018-01-20 18:24] yurymalkov commented on #47
Sure, I'll look up for solutions on affinity in a few days.
Probably using https://github.com/giampaolo/psutil will do, but I am not sure.

[2018-01-21 10:10] dataplayer12 opened #51 "Request: Provide nearest neighbors for training data"
For datasets like SIFT 1M, it would be **great** if nearest neighbors were provided for training data as well. From the perspective of computational cost, the test data is very small and users can create its metrics themsleves. But if you could provide the NNs for 1M training points that would help those who want to use the larger datasets.

[2018-01-21 16:03] erikbern commented on #51
Feel free to submit a pull request! Should be quite easy – here's the relevant code: https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/datasets.py#L36

I can re-run and re-upload datasets

[2018-01-21 16:12] erikbern commented on #47
@yurymalkov I noticed nmslib doesn't use the Py_BEGIN_ALLOW_THREADS macro. Why not?

If you enable that macro (or maybe it's called something else when using pybind11) then you nmslib should be much faster. I honestly doubt the Python overhead is substantial

[2018-01-21 16:42] dataplayer12 commented on #51
Thanks for pointing me to the right place. I have just submitted a PR.

[2018-01-21 16:54] dataplayer12 commented on #51
Small change. On line 69, please replace `res.remove(x)` with `res.remove((x,0.))`. I forgot this was a list of tuples.

[2018-01-21 16:56] yurymalkov commented on #47
@erikbern I see your point, but, yes, nmslib is using pybind11 c++ objects for GIL https://github.com/searchivarius/nmslib/blob/master/python_bindings/nmslib.cc#L112 . Anyway, I will ask @searchivarius if he checked the correctness of the new bindings.

There is another marker that points out that the problem is in the test - flattening of the QPS curve at low recalls. It didn't happen even when n

[2018-01-21 17:07] yurymalkov commented on #51
@dataplayer12 Can you explain the significance of testing on the "train" data?
I think any hash table with precomputed nearest neighbors for each dataset point can solve this task perfectly.
The test results on train data will be significantly different in terms of both speed and accuracy. i.e. k-nn graph algorithms store precomputed nearest neighbors for each of the dataset point and show way bet

[2018-01-21 17:12] dataplayer12 commented on #51
I am not sure that the division of 'train' and 'test' data is very strict here. Unless one is using a neural network or some other supervised learning technique, hashing is mostly an unsupervised task. Having 1Mx100 nearest neighbors for training dataset will make the dataset more useful for the community by allowing it to be used in contexts other than the framework and evaluation method defined

[2018-01-21 17:58] searchivarius commented on #47
@erikbern @yurymalkov the new bindings seem to release the GIL lock. However, there might be some subtle bug that is not obvious on a first look. I will double check.

[2018-01-26 16:00] yurymalkov commented on #47
@erikbern @searchivarius I have tested the latest nmslib python bindings in the multithreaded regime and checked that the GIL is released. For high accuracy setting I get 5.3X increase in total QPS compared to a single thread version on a 6-core CPU with HT.
For low accuracy setting the speedup is much less prominent, probably due to python thread pool (the nmslib python batch mode is working ok).

[2018-01-26 17:04] erikbern commented on #47
Sounds good. When was this released? I just ran a benchmark for cosine distance and I'm running one for Euclidean right now (see #50 for preliminary stats) but let me know if you want me to re-run for nmslib

[2018-01-26 17:18] yurymalkov commented on #47
@erikbern It seems my last comment was misleading.
The "new" bindings are the current ones. There were also old bindings, which were known to parallelize well. I thought that it might be that the updated bindings have caused the problems, but it is not the case. The GIL is working fine.

[2018-01-26 17:19] erikbern commented on #47
ok weird. i'll keep the benchmarks for now then. nmslib is still like 3x faster than anything else :)

[2018-01-26 17:37] yurymalkov commented on #47
Ok) I believe all algorithms that are tested in the multi-thread regime are also affected by this. The exception is FALCONN which runs in a single thread)
In a few days, I think I'll test a dummy search algo (in python, just return a random chuck of dataset) to test the maximum QPS the framework can measure.

[2018-01-26 18:34] maumueller commented on #46
I actually contacted the authors of Flash earlier this year. They confirmed that their algorithm is tuned for much sparser datasets and probably won‘t perform well in our benchmark.

Furthermore, they will contact us if the have some python wrapper that we can easily use.

[2018-01-26 18:38] searchivarius commented on #47
Hi @erikbern a somewhat unrelated question. Is the new version of Annoy using 2-means to build trees? The previous stable one (I checked a month ago) was still based on random projections. The previous ann-benchmark apparently used a 2-means tree, right?

[2018-01-26 18:47] erikbern commented on #47
The version in ann-benchmarks is the latest version of git which is also the latest version in PyPI: 1.11.1 (with AVX optimizations added)

[2018-01-26 18:48] maumueller commented on #47
Hi all, that‘s indeed a very interesting observation. I noticed that behavior a longer time ago as well. (see below).

Note that ann-benchmarks already has a „batched mode“. This mode is for example necessary to test the FAISS-GPU instance. The default implementation (https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/algorithms/base.py#L11) just calls the usual query for every

[2018-01-26 18:50] erikbern commented on #47
Let me see what happens if I swap out the thread pool for a process pool instead. Might also help with L1/L2 thrashing.

[2018-02-07 15:05] erikbern commented on #14
The benchmark now includes results for a dataset with 960 dimensions, so I'll close this!

[2018-02-07 15:05] #14 closed

[2018-02-17 02:54] saraswat opened #56 "Licence?"
Much appreciate addition of a licence file.

[2018-02-17 03:52] erikbern commented on #56
sure i can add one. probably MIT

[2018-02-17 03:54] erikbern commented on #56
here you go: https://github.com/erikbern/ann-benchmarks/commit/2be6be2b1745f814de688f996f16eef2f10efca9

[2018-02-17 03:55] #56 closed

[2018-03-03 20:27] erikbern opened #59 "pynndescent"
saw this randomly: https://github.com/lmcinnes/pynndescent

[2018-03-04 22:36] ilyaraz opened #60 "Check README or datasets"
In README it says that GloVe datasets have around 60k queries, while in the files there are 10k of them.

[2018-03-04 22:37] ilyaraz opened #61 "Remove FALCONN from benchmarks"
Please, remove FALCONN from the benchmarks. It's not properly tuned for the new settings (100 neighbors instead of 10 etc), and the results are confusing.

We might later add it back (the new, faster version), but meanwhile I don't want the results to be here.

[2018-03-05 02:37] erikbern commented on #61
Can you submit a pull request? Thanks

[2018-03-05 02:43] erikbern commented on #60
Fixed in cadbe3db80d82f8b218e8d5941bdd25f3b040bcd

[2018-03-05 02:43] #60 closed

[2018-03-05 03:57] ilyaraz opened #62 "Are numerical results available as well?"
Right now, I can see only plots in the repo, which are pretty useless for the "external" comparison as such.

[2018-03-05 04:15] ilyaraz commented on #61
There is no way for me to do that without re-running everything, since it does not seem like the numerical results are available.

[2018-03-05 10:16] maumueller commented on #62
Information about build time and other metrics will be included on the website. (And the website should be available once #57 is done.) I think we should also make it possible to access the data that the plots are based on. What do you think, Erik? (I could host it.)

[2018-03-05 10:24] maumueller commented on #59
Sounds interesting, https://github.com/lmcinnes/pynndescent/issues/2.

[2018-03-05 10:30] ilyaraz commented on #62
I think without the data, 99% of the benchmarks' value is lost.

[2018-03-05 13:38] erikbern commented on #59
nice – thanks for reaching out to the author!

[2018-03-05 13:40] erikbern commented on #61
I will re-run the results in a couple of weeks, so feel free to make any changes (eg disabling FALCONN) until then. Unfortunately I also don't have the results available anymore

[2018-03-05 13:45] erikbern commented on #62
You mean the data in `results/` right? Or do you mean the granular metrics (i.e. the stuff that's plotted just in numerical form)?

Can make that available although I'm a bit confused why the benchmarks are useless until then. Everything is containerized so it's very easy to re-run in case you want to run your own experiments

[2018-03-05 14:29] ilyaraz commented on #62
The granular metrics.

[2018-03-05 14:33] erikbern commented on #62
Ok, sounds good...as @maumueller pointed out they should be published with #57

[2018-03-06 14:15] erikbern opened #64 "disable nearpy, panns, dolphinnpy"
They seem pretty bad. I don't mind keeping the code, but probably makes sense to disable them by default. They add a bunch of noise to the plots and also take a disproportionate amount of time during benchmarks

[2018-03-10 21:31] erikbern commented on #59
closing since https://github.com/erikbern/ann-benchmarks/pull/67

[2018-03-10 21:31] #59 closed

[2018-03-20 12:56] erikbern opened #68 "Hamming dataset"
We should resurrect it

Randomly saw https://github.com/agnusmaximus/Word2Bits on Hacker News today – maybe we can use that dataset

[2018-03-23 13:51] #68 closed

[2018-03-23 18:01] maumueller opened #70 "Batch queries and single-threaded mode"
There are currently two relicts in the code which are not accessible since the arguments for them have been removed. What shall we do with them?

1) Running an algorithm with `runner.py` has a `force_single` which avoids the thread-pooling mechanism altogether, independent of the `use_threads` method of an algorithm. I find it nice for checking whether the ThreadPool decreases performance.

2) Run

[2018-05-07 10:25] yurymalkov opened #73 "Zero vectors in nytimes-256-angular"
I found that nytimes-256-angular and nytimes-16-angular datasets have hundreds of zero-valued vectors.
The problem is that the cosine distance to such vectors is undefined, making the search an ill-defined task.
Probably, such vectors should be removed. Another option is using unnormalized inner product distance instead of cosine.

[2018-05-08 01:43] erikbern commented on #73
I don't have super strong feelings about this, but think this is arguably a "feature" not a bug. Vectors that are zero should simply be ignored and never returned.

Annoy actually didn't do this and had very bad performance for nytimes-256-angular until I fixed it.

[2018-05-08 02:13] erikbern commented on #64
closing this in favor of https://github.com/erikbern/ann-benchmarks/pull/74

[2018-05-08 02:14] #64 closed

[2018-05-08 02:14] #61 closed

[2018-05-08 14:15] yurymalkov commented on #73
If it is a feature, it's probably a not very good design choice.
Cosine similarity for null vectors is fundamentally undefined, some discussion can be found here https://stackoverflow.com/questions/26699659/cosine-similarity-when-one-of-vectors-is-all-zeros .
So one can expect general-purpose search algorithms to rightfully show different behavior on such data.

[2018-05-08 16:47] yurymalkov commented on #73
Ok. I am busy now with another pull request to this repo (adding structure reusing to some algorithms). Maybe I'll do it later.

[2018-05-08 18:17] erikbern commented on #73
ok awesome!

[2018-05-18 00:12] alexklibisz commented on #36
For anyone interested, I built a project that supports the feature from my original question on top of Elasticsearch: https://github.com/alexklibisz/elastik-nearest-neighbors

[2018-05-18 11:39] erikbern opened #81 "New run May 2018"
Have been running it on a c5.4xlarge for about 36h. It's still on glove-100-angular and it's mostly done:

![image](https://user-images.githubusercontent.com/1027979/40232816-58d44558-5a6e-11e8-8980-0a7fa04aa454.png)

Not sure what's up with NGT... think maybe it timed out and we should increase timeout a bit. Especially since we're now running many searches in the same container and CPU is limite

[2018-05-18 12:17] yurymalkov commented on #81
Hm...  It seems that kgraph and nmslib also didn't pass the time limit. I am not sure that 4h limit would be enough. Building a high quality nmslib hnsw index may take an hour on a 6-core machine. So probably it may take 5 hours on a single core.

[2018-05-18 13:03] erikbern commented on #81
I'll start with 4h and will increase it further if it's not enough. c5.4xlarge are pretty fast machines

[2018-05-18 14:27] yurymalkov commented on #81
Cool!
Will there be a simple way to see what indexes failed to build in 4 hours?

[2018-05-18 14:34] yurymalkov commented on #36
@alexklibisz Cool
@erikbern There are now several algorithms that support updates: flann, hnswlib, faiss (batched updates). Probably, this should be noted in readme somehow.

[2018-05-18 15:02] erikbern commented on #81
yeah will get that for you later

[2018-05-21 00:08] masajiro commented on #81
The NGT construction was adjusted for many cores. I'll provide NGT for single core.

[2018-05-25 01:47] erikbern commented on #81
Here's the latest numbers:

![image](https://user-images.githubusercontent.com/1027979/40521895-e755494e-5f9b-11e8-8489-39baeecf2283.png)

This took almost a week to run... the problem is that there's so many algorithms now. The plot above is almost 600 different runs vs I think it used to be around 150. I just removed a lot of combinations from algos.yml and will rerun

[2018-05-25 10:36] yurymalkov commented on #81
@erikbern Thanks! I would note that hnsw query time runs are pretty cheap (you can tell it just by looking at the graph), removing them should not save much time.

[2018-05-25 17:41] maumueller commented on #81
Does it make sense to keep both hnswlib and hnsw(nmslib) running? They seem perform rather identical.

@erikbern You could also plot with `--raw` or use `create_website.py` with the `--scatter` option to get a better impression of which parameter configurations can be removed.

[2018-05-25 18:40] yurymalkov commented on #81
@maumueller hnsw(nmslib) and hnswlib are different implementations with somewhat different functionality (i.e. exotic spaces+slightly faster at query time vs incremental index, less memory footprint and less build time).
I am actually not sure if they perform that similar on other datasets.

[2018-05-25 19:29] erikbern commented on #81
Np keeping both

[2018-06-11 01:02] erikbern commented on #81
Closing this in favor of #82 which I'm merging now

[2018-06-11 01:02] #81 closed

[2018-06-23 22:52] ghost opened #83 "Regarding an interesting project"
@erikbern do you have any thoughts or observations about the `kepler-mapper`?
https://github.com/MLWave/kepler-mapper
https://mlwave.github.io/kepler-mapper/examples.html

[2018-07-13 01:45] richarmony opened #89 "Noob question: OS you used and requirements"
Hello @erikbern and team,

First of all, let me congratulate you for your fine job, it is amazing :D

I'm trying to run your benchmark for K = 1 (seems like performance changes). I'm using Ubuntu 16.04 and python3.5.

While I was installing (sudo python3 install.py) I noticed it installs lots of dependencies from bionic beaver. Is Bionic Beaver (18.04) or any other OS a requirement?

[2018-07-13 01:56] erikbern commented on #89
I actually ran this on Ubuntu 16... it should be working. When you say "lots of dependencies" what in particular are you referring to?

[2018-07-13 18:55] erikbern commented on #89
weird, does it write results though? are you able to plot?

[2018-07-13 19:06] richarmony commented on #89
Yep, but my results are pretty similar to yours. I'm still waiting for the run on sift-128-euclidean to end, but this is my result for mnist-784-euclidean:
![test](https://user-images.githubusercontent.com/15041034/42709307-b7779278-86a5-11e8-89ec-9d6844804258.png)
and Y-Log version:
![mnist-count1-ylog](https://user-images.githubusercontent.com/15041034/42709311-b9506a34-86a5-11e8-851b-3fa6d6fef7

[2018-07-13 20:31] erikbern commented on #89
ok cool!

seems like things are working so i'm going to close this!

[2018-07-13 20:31] #89 closed

[2018-07-15 14:13] xaprb opened #90 "Website Title Isn't Very Descriptive"
Just a suggestion, I think having a more descriptive `<title>` tag on the website's homepage would be helpful. Right now, it's simply `ANN-Benchmarks`. It might be better as "ANN-Benchmarks: Approximate Nearest-Neighbors Algorithm Benchmarks" or something like that.

[2018-07-15 21:08] maumueller commented on #90
Nice suggestion @xaprb, I've updated the title.

[2018-07-16 01:21] #90 closed

[2018-10-01 07:15] maumueller commented on #70
All of this now seems to work. Closing it.

[2018-10-01 07:15] #70 closed

[2018-10-01 07:16] maumueller commented on #39
This has been added, can close.

[2018-10-01 07:16] maumueller commented on #41
This has been added, closing.

[2018-10-01 07:16] #41 closed

[2018-10-01 07:17] maumueller commented on #44
Has been added, please close.

[2018-10-01 11:57] #44 closed

[2018-10-01 11:57] #39 closed

[2018-10-22 00:06] masajiro opened #99 "Run ONNG for nytimes"
@maumueller
I resolved the problem (#93) of the results due to invalid zero vectors in the queries. Sorry for troubling you, but could you rebuild NGT and recreate results for the nytimes dataset?
Thank you in advance.

[2018-10-22 13:14] erikbern commented on #99
@masajiro what's preventing you from doing it yourself?

[2018-10-22 22:43] masajiro commented on #99
@erikbern
Since I have already confirmed that the updated ONNG clearly improved its results for the nytimes dataset on my local environment, I would like you to update only ONNG results in the [figure](https://github.com/erikbern/ann-benchmarks#nytimes-256-angular).
Do you mean that you can replace the figures with figures that I made on my local environment?

[2018-10-22 23:01] erikbern commented on #99
@masajiro we generally re-run the benchmarks every 3-4 months or so. maybe it's time to do it again. i think it would be a lot of work to do it ad-hoc any time there's library updates.

you can also go ahead and do it yourself if you want to update the repo – can run everything on a c5.4xlarge in AWS

[2018-10-23 07:01] yurymalkov commented on #99
@masajiro @erikbern
If there are zero vectors in the test then it is a test bed issue which affects all algorithms.
So, I think, removing the zero vectors from the datasets is the right solution.

[2018-11-29 06:18] hacktmz opened #101 "the module 'ann_benchmarks.algorithms.faiss_gpu' could not be loaded How can I solve it?"
python run.py --docker-tag ann-benchmarks-faiss  --dataset gist-960-euclidean --run-disabled --local  --batch

ann_benchmarks.algorithms.faiss_gpu.FaissGPU([4096, 1]): warning: the module 'ann_benchmarks.algorithms.faiss_gpu' could not be loaded; skipping
ann_benchmarks.algorithms.nmslib.NmslibReuseIndex([u'euclidean', 'sw-graph', {'NN': 16}, False]): warning: the module 'ann_benchmarks.algorithms

[2018-11-29 09:33] maumueller commented on #101
Hi!

To run faiss in gpu mode you have to build it locally on your machine. (Docker is not supported at the moment.) Please try to install it according to https://github.com/facebookresearch/faiss/blob/master/INSTALL.md and report back if it still doesn't work.

Thanks!

[2018-11-29 10:01] hacktmz commented on #101
I have installed faiss_gpu.
python run.py  --dataset gist-960-euclidean --run-disabled --local --batch

 triggered the same error，What is the correct command line?

[2018-11-29 10:05] maumueller commented on #101
It should be `python run.py --dataset gist-960-euclidean --run-disabled --local --batch --algo faiss-gpu` (to only run `faiss-gpu`).

Does `python -c "import _swigfaiss_gpu"` run without an error?

[2018-11-29 11:19] hacktmz commented on #101
sudo python run.py --dataset gist-960-euclidean --run-disabled --local --batch --algo faiss-gpu
('running only', 'faiss-gpu')
ann_benchmarks.algorithms.faiss_gpu.FaissGPU([1024, 1]): warning: the module 'ann_benchmarks.algorithms.faiss_gpu' could not be loaded; skipping
ann_benchmarks.algorithms.faiss_gpu.FaissGPU([4096, 100]): warning: the module 'ann_benchmarks.algorithms.faiss_gpu' could not be

[2018-11-29 12:43] maumueller commented on #101
Is that from the same directory as the one where you run ann-benchmarks from? Do you have a local installation of faiss still in a directory `faiss/` that you could move inside the `ann-benchmarks` folder?That's how it works for me. (I don't have faiss in my Python path by default.)

[code]

[2018-11-29 13:32] maumueller commented on #101
That would be awesome! However, I have no experience with this setup. (I used nvidia-docker for getting the GPU to work inside of a docker container in other projects, and I don't know if it has gotten easier with a default docker installation by now.)

[2018-11-29 14:30] erikbern commented on #101
Yeah I don't know either. Maybe we can move everything to nvidia-docker optionally.

[2018-12-03 11:22] #101 closed

[2018-12-21 08:35] CogmanCVN opened #104 "for help: code raise a exception"
when runing install.py this line of code raise a exception，
subprocess.check_call( 'docker build \   --rm -t ann-benchmarks -f install/Dockerfile .', shell=True)
Exception is：
subprocess.CalledProcessError: Command 'docker build         --rm -t ann-benchmarks -f install/Dockerfile .' returned non-zero exit status 1.
I hope you can help me

[2019-02-26 19:12] pedramrezaei opened #106 "Please add SPTAG to the benchmark"
SPTAG: https://github.com/Microsoft/SPTAG

Thank you

[2019-02-26 22:05] #99 closed

[2019-02-27 00:52] erikbern commented on #106
Sure, feel free to create a pull request!

[2019-02-27 00:52] #106 closed

[2019-03-29 13:33] godofdream opened #109 "ivf-hnsw"
I stumbled over https://github.com/dbaranchuk/ivf-hnsw

Did anyone tried to benchmark their implementation?
Is there conzeptual difference between ivf-hnsw and hnsw from hnswlib or nswlib?

[2019-03-29 13:35] maumueller commented on #109
I suppose @yurymalkov can say more about it. :-)

[2019-03-29 17:52] yurymalkov commented on #109
@godofdream,
Yes, there is a conceptual difference.
ivf-hnsw uses hnswlib as a part and it targets billion scale scenario with low memory footprint (e.g. 1B index in 20 Gb RAM).
So, it should not be as fast as hnswlib, but it is much more memory efficient.
Also, @dbaranchuk is the right person to ask about it. :)

[2019-03-29 21:47] erikbern commented on #109
great if anyone wants to add it!

[2019-04-12 15:27] cmpute opened #112 "Add NSG"
C++ code here: https://github.com/ZJULearning/nsg
I think providing wrapping with cython should be easy

[2019-04-12 15:43] cmpute opened #113 "Add PQT"
https://github.com/cgtuebingen/Product-Quantization-Tree

https://www.cv-foundation.org/openaccess/content_cvpr_2016/papers/Wieschollek_Efficient_Large-Scale_Approximate_CVPR_2016_paper.pdf

[2019-04-12 17:58] erikbern commented on #113
sure!

[2019-04-12 17:59] erikbern commented on #112
sure – want to go ahead and give it a shot?

[2019-04-17 12:32] mohamed-ali commented on #33
I took a look into adding lopq (https://github.com/yahoo/lopq) , however currently it only supports python 2.7. I did some PR on the library but it seems it has no active maintainer for now. When someone merges my PR, I'll port it to Python 3.6 and add it to this benchmark.

@erikbern  Is it possible to use the current python 2.7 version of lopq within the benchmark framework?

[2019-04-17 12:48] maumueller commented on #33
@mohamed-ali That's no problem. In fact, faiss is still run on Python 2.7. Just see https://github.com/erikbern/ann-benchmarks/blob/master/install/Dockerfile.faiss. (Nothing has to be done on the algorithm wrapper put in `ann-benchmarks/algorithms/...`.)

[2019-04-17 13:08] mohamed-ali commented on #33
@maumueller Thanks for clarifying that (it saves me some time). I'll attempt to add LOPQ in here then.

[2019-04-17 16:11] mohamed-ali commented on #33
@erikbern  @maumueller  In readme, section **running** there is only an example on how to run the benchmark in a production setup (if that's correct it to say), however I don't see anything about running for local testing/development. It would be useful to have also an example on how to run when developing(integrating a new algorithm for instance).

Regarding adding LOPQ, I made some progress, how

[2019-04-17 18:44] maumueller commented on #33
Please use `python3 install.py --algorithm lopq` in the root. This script takes care of building the base image and `lopq`.

[2019-04-17 19:15] erikbern commented on #33
if my memory serves me right, i believe you can just do

[code]

[2019-05-16 15:09] maumueller opened #118 "Add SPTAG"
This looks interesting: https://github.com/microsoft/SPTAG

[2019-05-16 16:29] sinkpoint commented on #118
Bump, came here to say the same thing. Microsoft just announced this.

[2019-05-16 16:32] erikbern commented on #118
looks pretty cool!

[2019-05-16 17:08] jerry-rubikloud commented on #118
I haven't try yet but it looks like it provides "update" function too.

[2019-05-24 23:03] ownchoice commented on #118
They even called it "A library for **fast** approximate nearest neighbor search".

[2019-07-09 03:12] searchivarius commented on #118
@maumueller @erikbern do we have results yet? Thanks!

[2019-07-09 13:53] erikbern commented on #118
@searchivarius i'll re-run the benchmark in the next couple of months

[2019-07-10 01:38] MrHwc opened #122 "What does “count” mean in the function write_output?"
distances = f.create_dataset('distances', (len(test), count), dtype='f'),
why count=100?
"count" means "the number of near neighbours to search for"?

[2019-07-10 08:54] maumueller commented on #122
It's the number of nearest neighbors included as ground truth. It's precomputed to speed up plotting.

[2019-07-15 09:05] #122 closed

[2019-07-15 10:25] MrHwc opened #123 "About SPTAG test results"
I tested it with a GIST data set，The size of the query vector is (1000*960)，Return 100 neighbors，I used the official default parameters，The time I built the index is 20562.084 s，The query time is 35.082 s，recall is 0.92669，The time to add 100 vectors is 22.281 s. I feel this time is very long, am I using it correctly? Its index construction and query time are longer than NSG. Can you give SPTAG te

[2019-07-15 12:31] maumueller commented on #118
@erikbern Any reason to not just rerun SPTAG on an ec2 instance to have some results in? (I can do that.)

[2019-07-15 13:31] searchivarius commented on #118
@maumueller for methods that are far from the top, there's certainly little need for re-running, but I would think one needs to re-run a few top methods on the same machine as the difference from 1 year ago in hardware might matter a bit.

[2019-07-15 13:35] erikbern commented on #118
there's probably updates to a lot of the libraries as well, would make sense to re-run all of them

[2019-07-15 13:37] erikbern commented on #123
yeah that sounds unreasonable. i'll look at it in a few months when i re-run the results

[2019-07-17 09:26] maumueller commented on #123
Hi @MrHwc

How you talk about the measurements, it doesn't seem that you run it in ann-benchmarks, right?

I just had a quick go on fashion-mnist (fewer points, but also high dimensional).

[code]

This looks reasonable good, given the high recall it achieves. (The influence of the `maxCheck` value doesn't really match what is written in https://github.com/microsoft/SPTAG/blob/master/docs/Paramete

[2019-09-16 08:41] Murplugg opened #128 "Link to latest version of paper in Readme.md"
Maybe?
Paper is here: [https://arxiv.org/abs/1807.05614](https://arxiv.org/abs/1807.05614)

[2019-09-16 14:27] #128 closed

[2019-09-17 23:08] vprelovac opened #130 "Add N2 ?"
This one is promising:
https://github.com/kakao/n2

[2019-09-17 23:32] erikbern commented on #130
just glancing at the readme, definitely seems interesting.

@ummae – would you be interested in submitting a pull request to add n2 to the benchmarks?

[2019-09-18 00:33] ummae commented on #130
@erikbern Okay, I will.

[2019-09-18 02:08] erikbern commented on #130
great @ummae ! no rush

[2019-10-28 06:17] zsz00 opened #131 "Is there any plan to comparison with Rayuela.jl ??"
Is there any plan to comparison with Rayuela.jl ??

https://github.com/una-dinosauria/Rayuela.jl
This is the code for the paper
Julieta Martinez, Shobhit Zakhmi, Holger H. Hoos, James J. Little. LSQ++: Lower running time and higher recall in multi-codebook quantization. In ECCV 2018. [CVF].

Rayuela.jl is a package that implements non-orthogonal multi-codebook quantization methods (MCQ). These met

[2019-10-28 13:43] erikbern opened #132 "Redirect http://www.itu.dk/people/pagh/SSS/ann-benchmarks/ to ann-benchmarks.com"
There was a hacker news thread linking to the itu.dk page: https://news.ycombinator.com/item?id=21374400

Probably makes sense to remove that page and redirect to ann-benchmarks.com or what do you think @maumueller @ale-f ?

Reminds me it's probably time to run another benchmark soon. There's been some additions lately.

[2019-10-28 13:44] erikbern commented on #118
SPTAG was added in #119 so i'll close this

[2019-10-28 13:44] #118 closed

[2019-10-28 13:45] #123 closed

[2019-10-28 13:46] erikbern commented on #130
Ping @ummae do you want to contribute with it? I'd love to re-run the benchmarks soon

[2019-10-28 13:46] #46 closed

[2019-10-28 13:46] erikbern commented on #51
closing this – i remember trying at some point to compute nearest neighbors for the training set but it's brutally slow

[2019-10-28 13:46] #51 closed

[2019-10-28 13:47] erikbern commented on #131
@zsz00 i would love to add it. maybe the authors can take a look. @una-dinosauria ?

[2019-10-28 13:56] maumueller commented on #131
Given that it requires a GPU and doesn't have a Python wrapper, this would be a nice test case for our wrapper protocol https://github.com/erikbern/ann-benchmarks/tree/master/protocol :-)

@una-dinosauria I would be happy to help with that.

[2019-10-28 14:02] searchivarius commented on #118
Thank you @erikbern

[2019-10-28 14:03] maumueller commented on #132
Sure, made a redirect.

[2019-10-28 15:00] erikbern commented on #132
Awesome thanks!

[2019-10-28 15:00] #132 closed

[2019-10-28 18:14] una-dinosauria commented on #131
Hello everyone!

I'm super glad to see that you'd like to give my code a try. That said, I think it would be a bit hard for it to achieve competitive performance in this benchmark, as I have not implemented an IVF or any other shortlisting data structure -- In our ECCV18 paper, we assumed exhaustive search, as we compared only the encoding quality.

There would be two ways to get around this:

1.

[2019-10-28 19:14] andrewluetgers commented on #22
@aaalgo heres my vote to see this re-run for latest results and incorporated via PR this is a valuable facet of performance that needs to be part of the discussion.

[2019-10-28 23:16] ummae commented on #130
@erikbern Sorry for late. This work is being delayed as we are preparing major update of N2. It will be updated in next 3-4 weeks (I hope so). It would be nice if anyone could contribute before then.

[2019-10-29 01:22] dataplayer12 commented on #51
Can't argue about it being slow. Thank you for trying.

[2019-11-22 03:54] chasingegg commented on #118
Hello, since SPTAG has been added into this library, but why the figure in readme does not show the performance of SPTAG?

[2019-11-22 04:04] erikbern commented on #118
@chasingegg it's just been a long time since the last time i ran a benchmark. probably worth doing again

[2019-12-07 16:49] erikbern opened #134 "Add Granne"
https://github.com/granne/granne

Saw this from https://0x65.dev/blog/2019-12-07/indexing-billions-of-text-vectors.html

[2019-12-07 16:49] erikbern commented on #134
It optimizes for storage space: _Even though there are ANN libraries producing reasonable recall in less than 1 ms, for our use case we can accept sacrificing some of that speed for reduced server costs._

[2019-12-17 21:06] bio-info-guy opened #135 "Compare both Index Build time and Query Time using some sort of combined metric?"
Is there a known metric to combine both build time and query time into a metric, for those that wish to do approximate k nearest neighbor within a different dataset each time.

[2019-12-18 07:09] chasingegg commented on #134
It seems that it only fits in their business scenario, not in a general approximate nearest neighbor search.

[2019-12-18 10:11] maumueller commented on #135
Hi

it would be trivial to add such a measure by adding something like <build time> + <time to answer all queries> to https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/plotting/metrics.py and plotting this against recall in https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/plotting/plot_variants.py.

However, I'm not sure if it provides much more information

[2019-12-18 15:59] erikbern commented on #134
@chasingegg curious if you can elaborate. what's different with the scenario they are trying to optimize for?

[2019-12-18 18:58] wjtan99 opened #136 "plot.py does not plot"
I used python plot.py --dataset=glove-100-angular to plot the results after the simulations are done. The results are in results/glove-100-angular/10.
But it does not plot. Instead, it says  Exception: Nothing to plot
I tracked into compute_metrics in utils.py and found that the res is empty.
Can you help me out?

[2019-12-18 19:11] maumueller commented on #136
Could you try to run `plot.py` with `sudo`? I think the plotting script writes to the result files for caching and might run into permission errors.

[2019-12-18 20:22] wjtan99 commented on #136
Thanks a lot for your very quick response. Yes, that is cause. I can either run with a sudo or remove the "+" in the following line in results.py

f = h5py.File(os.path.join(root, fn), 'r+')

[2019-12-18 20:32] wjtan99 commented on #136
Another problem.  I guess this may be some env setup issue

Traceback (most recent call last):
  File "plot.py", line 139, in <module>
    linestyles, args.batch)
  File "plot.py", line 28, in create_plot
    for algo in sorted(all_data.keys(), key=lambda x: x.lower()):
TypeError: '<' not supported between instances of 'str' and 'bytes'

[2019-12-19 00:31] wjtan99 commented on #136
Later on I found I should not remove "+" in that line.
Anyway, all problem resolved now.

[2019-12-19 00:31] #136 closed

[2019-12-30 23:06] appusom commented on #104
Is there any solution to this problem? I am facing the same on Ubuntu 16.04.

[2020-01-01 18:04] erikbern commented on #104
Does it print a bunch of stuff to standard out? Can you share?

[2020-01-02 09:26] appusom commented on #104
I finally resolved this issue by ensuring the docker daemon was running correctly before I ran this code. Thanks.

[2020-01-02 10:32] #104 closed

[2020-01-09 02:51] ucasiggcas opened #139 "if I only use the MNIST dataset?"
hi,dear,
for the project may cost a long time,so I just want to try a little Dataset,
maybe the MNIST will be okey
so how to modify the codes ?
thx

[2020-01-09 13:55] erikbern commented on #139
mnist is already available as a dataset

[2020-01-09 13:55] #139 closed

[2020-01-10 20:22] erikbern opened #140 "Add Milvus"
https://github.com/milvus-io/milvus

"Milvus -- the world's fastest vector search engine." would love to verify that claim :)

[2020-01-10 22:47] tekumara opened #141 "Add vearch"
"Vearch is a scalable distributed system for efficient similarity search of deep learning vectors."

Jie Li, Haifeng Liu, Chuanghua Gui, Jianyu chen, Zhenyun Ni, Ning Wang, Yuan Chen. The Design and Implementation of a Real Time Visual Search System on JD E-commerce Platform. In the 19th International ACM Middleware Conference, December 10–14, 2018, Rennes, France. https://arxiv.org/abs/1908.07389

[2020-01-16 00:17] jtibshirani opened #143 "Consider adding a 'deep image descriptor' dataset"
In the past few years, it seems that the computer vision community transitioned away from representing images using traditional features like SIFT. It's now common to create 'deep descriptors' of images through convolutional neural nets (for example models based on the Inception architecture). It would be helpful to include a dataset of deep image descriptors to more closely represent this approac

[2020-01-16 00:49] jtibshirani opened #144 "Consider adding a sentence embedding dataset"
In addition to word embedding models like GloVe, there are now text embedding models like BERT and Universal Sentence Encoder that work at the level of sentences. These embedding models take an entire sentence as input and output a single vector representation. Sentence embedding models have started to be used alongside kNN to power text search applications.

It would be great to have a dataset ba

[2020-01-16 14:57] erikbern commented on #144
That makes sense. It would be great if there's already some kind of popular dataset that we can rely on – I don't want to make it too "arbitrary". If we have to build a custom pipeline then I'd love for it to be very trivial (like 10-20 lines at most to generate the data). Any thoughts?

[2020-01-16 14:59] erikbern commented on #143
That's a good idea. I think the full billion is probably too much, but subsampling a few million sounds like a great idea. Maybe 10M of them (10M*96*4 = ~4GB, which should fit well into memory)

[2020-01-17 18:05] jtibshirani commented on #143
I would be happy to open a PR to help get this started, aiming for a 10M vector subsample.

[2020-01-17 18:55] erikbern commented on #143
sure, would definitely appreciate it

[2020-01-17 20:34] jtibshirani commented on #144
I was also wondering about this point — I haven’t come across a commonly-used dataset of sentence embedding vectors and would be curious if others had ideas.

To add some context, the idea of using StackExchange was motivated by the fact that it has a friendly license, and that it has formed the basis for some research around question retrieval + duplicate question detection (including the dataset

[2020-01-17 22:39] erikbern commented on #144
i'm definitely open to adding this provided it can use as many standard datasets and algorithms as possible, and it can be reasonably concise.

https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/datasets.py is where all the datasets are defined so far, if for whatever reason just downloading the hdf5 files isn't enough

[2020-01-20 08:14] maumueller commented on #143
I think this would be an excellent addition!

@erikbern We might want to rethink allow multi-threaded index building for such data set sizes. None of the graph-based indexes will complete within the 6 hour preprocessing time limit.

[2020-01-20 15:55] erikbern commented on #143
@maumueller i think the plan was to use a subsample of a few million, not the full billion dataset

but sure, i'm ok enabling multithreading. let me think about how that would affect single threaded libraries during searching. i believe we used to have a thread pool to saturate all cpus

[2020-01-20 16:09] maumueller commented on #143
I was referring to the idea of having 10M. (I'm currently experimenting with 3M 300d and it takes about 20 hours to build an HNSW index for some of its parameter choices.)

[2020-01-20 19:52] erikbern commented on #143
we should also consider some reasonable timeout, like maybe 1-3h.

[2020-01-26 04:42] #143 closed

[2020-02-06 04:21] masajiro opened #148 "Clone the latest version of NGT"
[NGT](https://github.com/yahoojapan/NGT) was updated to improve the search performance especially for glove-25. When you run your benchmarks, please clone the latest version (v1.9.0) of NGT.

[2020-02-06 04:36] erikbern commented on #148
it pulls the latest version when it installs – https://github.com/erikbern/ann-benchmarks/blob/master/install/Dockerfile.ngt

[2020-02-06 04:36] #148 closed

[2020-02-06 04:55] masajiro commented on #148
My understanding is that when a git repository is cached in docker, it is not cloned, even if the repository is updated.

[2020-02-06 05:14] erikbern commented on #148
right but i rebuild all containers from scratch every time i run the benchmarks so it's not a problem

it's been a while since last time so it's probably time soon again

[2020-02-16 19:35] #130 closed

[2020-02-17 13:46] RyanWei commented on #140
Hey Erik,

I am from Milvus team:) Big fan. Much appriaciate your work in ANN, really helped us a lot when we build Milvus. We are honored that you noticed our work and look forward to your verification.

We'd love to talk more and assist the test if needed, let us know:)

Regards,
Ryan

[2020-02-17 14:28] erikbern commented on #140
@RyanWei take a look at #149!

[2020-03-05 13:37] cxie commented on #140
Hi Erik,

I am Starlord from the Milvus team. Firstly, we would be happy to have Milvus listed in your new benchmark. We really appreciate all your time and efforts. Regarding Milvus benchmarking, we opened another PR, #153. We recommend you use the '"insert a vector with id" API for Milvus tests, as you did in other ANNS tests.
![mnist-784-euclidean_10_euclidean](https://user-images.githubusercon

[2020-03-05 15:58] #140 closed

[2020-03-16 05:46] snakers4 opened #156 "Sklearn pairwise?"
Forgive me for my ignorance, but for a low throughput scenario (i.e. ~10-20 items per second) we used [pairwise cosine](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.cosine_similarity.html) from sklearn which does not suffer from problems that approximate search libraries have (i.e. rebuilding index, adding to index, sharing the index to multiple nodes, etc etc).

With

[2020-03-26 07:53] suimo opened #157 "performance on low dimensional datasets"
I have tried this algorithm and flann on low dimensional dataset(3-d point cloud).
Here are 800000+ map points, and 300 query points, and find the query points' k neighbor with this algorithm and flann.
the setup of hnswlib is ef_construction = 40, M = 6.
neighbor number k = 10
the performance of two algorithm as follows:
index build time : hnswlib 2249.92 ms flann 207.523 ms
search time : hnswlib

[2020-03-26 08:08] maumueller commented on #157
I think this is rather a question for the hnswlib guys (@yurymalkov?), but it seems more than likely to me that for 3 dimensions standard tree approaches are much more efficient. (I ran some experiments for a two-dimensional dataset back in the days and `kd` was by far the fastest implementation.)

There are some experiments on low-dimensional datasets in the HNSW lib paper https://arxiv.org/ftp/a

[2020-03-26 10:24] suimo commented on #157
Thanks a lot for your reply! Could you give me some advice that which algorithms are better for low dimensional dataset.

[2020-03-26 13:24] erikbern commented on #157
might be interesting to add a very low dimensional dataset (3-10 dims) for benchmarks

[2020-03-26 18:25] maumueller commented on #157
As said earlier, please give the standard kd tree a try, it's `--algorithm kd` in the benchmark.

With regard to low-dimensional datasets: Would be cool, but I don't know of any standard dataset :-)

[2020-03-26 18:31] erikbern commented on #157
one idea is to just take some free data set on world cities lat/lon and project it into 3d space. i have some code for this lying around already.

[2020-03-27 01:40] suimo commented on #157
Thanks for your reply. I will try it.

[2020-04-21 12:52] qinjian623 opened #158 "Did this benchmark consider the GPU option ?"
Hi,

Since some libraries, like FAISS, have a GPU version, I'm not sure whether the test use any GPU hardware.

Thanks.

[2020-04-21 13:33] erikbern commented on #158
You can run it with GPU enabled, but the charts shown right are for CPU only

[2020-04-21 13:33] #158 closed

[2020-04-22 12:29] maumueller commented on #158
We report on runs for FAISS gpu implementations on SIFT at http://ann-benchmarks.com/ at the bottom ('batched queries').

[2020-04-26 05:54] qinjian623 commented on #158
Awesome, thanks for your work.

@maumueller
Where can I find the GPU hardware spec?
Thanks.

[2020-05-03 00:12] prateekpatelsc commented on #109
@yurymalkov : any comments on the quality of the results if the index could be possibly stored in hnswlib as well

[2020-05-03 05:44] yurymalkov commented on #109
@prateekpatelsc AFAIK it is using a fork of hnswlib, which should have a similar performance (although I haven't tested).

[2020-05-03 10:17] prateekpatelsc commented on #109
@yurymalkov : sorry may be my question was not clear.
I meant to ask that hnsw-ivf uses quantizers (from a quick look at code), i was curious if that causes any lower recall quality for example for a dataset of size 1 million (so could have used either hnswlib or hsnw-ivf index approach).  I was more curious about how much perf degrades in terms of quality and latency/throughput if i decide to use

[2020-05-19 18:15] thaotran9 opened #159 "Can you give an example command to run locally with 2 algorithms"

[2020-05-19 18:57] maumueller commented on #159
I just do it via bash, e.g., `for algo in annoy faiss-ivf; do python run.py --algorithm $algo --dataset glove-100-angular; done`

[2020-05-19 18:59] thaotran9 commented on #159
Do you need to specify --local?

[2020-05-19 19:29] maumueller commented on #159
Sorry, missed that. Yes, it has to look like `for algo in annoy faiss-ivf; do python run.py --local --algorithm $algo --dataset glove-100-angular; done`

[2020-05-19 20:49] thaotran9 commented on #159
Thank you, it helped. I got Exception: Nothing to run. Do you also need to specify --definitions?

[2020-05-20 07:22] maumueller commented on #159
It uses the `algos.yaml` file by default, so the algorithms you want to test ought to have parameter settings in there. It would help if you could provide a MWE.

[2020-05-20 21:14] thaotran9 commented on #159
This is the command I use: `python run.py --local --algorithm  hnsw --dataset sift-128-euclidean'
BTW, what is query-args values below in the algos.yaml file?

  hnsw(faiss):
     docker-tag: ann-benchmarks-faiss
     module: ann_benchmarks.algorithms.faiss_hnsw
     constructor: FaissHNSW
     base-args: ["@metric"]
     run-groups:
       M-4:
         arg-groups:
           - {"M": 4,  "efConst

[2020-05-20 21:22] maumueller commented on #159
The implementation is `hnsw(faiss)`, so it's supposed to be `python run.py --local --algorithm hnsw\(faiss\) --dataset sift-128-euclidean`.

Most implementations have a computationally expensive index building step (the `train` method), which can then be searched in many different ways. Here, it means that it constructs one index, and then uses 9 different parameters for searching for nearest neig

[2020-05-20 21:34] thaotran9 commented on #159
for using hnsw(faiss), are query-args the efSearch values? For calculating queries/s, do you take 1 divided by the minimum of 9 query times in one index?

[2020-05-27 17:23] pramodv1993 commented on #104
Hello, I too am facing the same issue once I try to run the install.py script, Is there a solution for the same?

[2020-05-27 17:42] maumueller commented on #104
What does it say if you run ` docker build --rm -t ann-benchmarks -f install/Dockerfile .` in your terminal (in the ann-benchmarks directory)?

[2020-05-27 17:50] yurymalkov commented on #104
I also has experienced errors with the docker build, probably due to ubuntu update.
Changing the first line of the docker file to `FROM ubuntu:18.04` helped me.

[2020-05-27 22:32] pramodv1993 commented on #104
Hello Sir, I tried the suggestion by Yury Malkov, it now passed the step6/7 of  RUN pip3 install -rrequirements.txt :)

[2020-05-27 22:33] pramodv1993 commented on #104
Hello Sir, this helped pass the step where I had got stuck. Thank you :)

[2020-05-28 18:05] eschkufz opened #160 "List of tested platforms"
Do you have a list of platforms that install.py has been tested and verified on?

I've tried running on both OSX catalina and a fresh installation of Ubuntu 18.04, each with docker installed. Installation fails with errors on both platforms.

[2020-05-28 21:40] erikbern commented on #160
what exactly fails? it should work on most platforms

[2020-05-28 22:18] eschkufz commented on #160
From a fresh checkout of the repository, this is the first error that I hit. The problem seems to be in install/Dockerfile. If I patch this (say by adding a line RUN apt-get install python3-matplotlib), more errors follow in this Dockerfile and then the implementation-specific Dockerfiles (all things such as missing headers, packages, or libraries, which cause the respective containers to fail out

[2020-05-29 17:19] #160 closed

[2020-05-29 17:20] erikbern commented on #160
this isn't really an issue with your environment (so the original question is a bit misdirected) but rather ubuntu inside docker. either way thanks to @yurymalkov this should be gone now!

[2020-05-29 18:09] eschkufz commented on #160
(Fair enough on the title.)

Looks like it works. Thanks for the quick fix!

On Fri, May 29, 2020 at 10:20 AM Erik Bernhardsson <notifications@github.com>
wrote:

[2020-05-29 19:47] thvasilo opened #162 "Benchmarks for binary vectors?"
[FAISS](https://github.com/facebookresearch/faiss/wiki/Binary-indexes) and I assume some other libraries include optimized algorithms for binary features (both exact like [Multi-Index Hashing](http://www.cs.toronto.edu/~norouzi/research/papers/multi_index_hashing.pdf) and approximate).

I was wondering if there are any plans to include such specializations? I assume SIFT features would be good can

[2020-05-29 20:06] maumueller commented on #162
This already exists with two datasets at http://ann-benchmarks.com/ (Distance: Hamming). In particular, MIH is supported already.

Would be nice to have the FAISS binary variants, though. Feel free to add it via a PR. :-)

[2020-06-01 02:36] thvasilo commented on #162
Gave it a shot today, but I think I want to clarify a couple of things. Is it OK to open a WIP PR to ask for help fixing a couple of potential issues?

[2020-06-18 21:27] Briggs599 opened #163 "Can't check in custom branch"
To whom it may concern,
My name is Braden Riggs and I'm an Intern at GSI Technology. I maybe be interested in submitting a pull request with some modifications and improvements to the ann-benchmarks. Unfortunately when I try to submit a branch I get this error.

braden@apu2:~/ann-benchmarks$ git push origin BR/apu2_modifications
Username for 'https://github.com': Briggs599
Password for 'https://Br

[2020-06-19 07:23] maumueller commented on #163
Hi Braden.

That's by design :-) Please fork the repository, make your changes there, and then open a pull request with your changes so we can discuss them.

You can find a detailed description of this workflow here: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests

Best
Martin

[2020-06-19 07:24] maumueller commented on #162
Sorry for the late answer. Please submit a [WIP] PR, yes.

[2020-06-19 07:31] maumueller commented on #159
Yes, those are the efSearch values, see https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/algorithms/faiss_hnsw.py#L30.

I don't exactly follow on your QPS discussion. One instantiation of the algorithm with a fixed set of parameters gives exactly one measurement (say, the nearest neighbors returned, the time it took to answer these queries, ...). If T is the time it took to an

[2020-06-19 07:45] maumueller commented on #156
Hi! Sorry for the super-late reply!

I think our bruteforce implementation here https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/algorithms/bruteforce.py should basically provide identical performance.

[2020-06-19 13:14] #163 closed

[2020-06-19 13:14] #156 closed

[2020-06-19 22:48] Briggs599 opened #164 "Deep1b training size only ~10 Million"
Just wanted to ask a quick question about the Deep1b data set. I've been interning with GSI Technology and we have been benchmarking algorithms on the Deep1b data set (see attached image for an example) and are interested in seeing how our hardware performs on very large data sets. I just wanted to ask why the Deep1b data set only has a training size of 9,990,000 instead of the full billion. I'm a

[2020-06-20 02:58] erikbern commented on #164
We only expose the first 1% of the dataset for now. Maybe at some other stage we'll do the full billion!

[2020-06-20 02:58] #164 closed

[2020-06-22 17:28] Briggs599 commented on #164
I just wanted to follow up and ask if you have the full deep1b dataset all prepared and just haven't implemented it or if the 10-million subset is all that is prepared. We are interested in running the full dataset on some more powerful machines. Sorry to keep bothering you :).

[2020-06-22 22:58] erikbern commented on #164
no we don't have it prepared

[2020-06-23 00:27] Briggs599 commented on #164
Okay, we are interested in doing some true billion-scale benchmarks, if you could point us towards the code for the dataset prep we would be happy to share the code if we make changes ect. Or if you just tailored the code of the 10M set we would appreciate that code as well and any guidance you could provide. If we get it working we would love to share it with your GitHub.

[2020-06-23 02:28] erikbern commented on #164
shouldn't be super hard to do using https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/datasets.py#L197

you might have to rewrite it a bit so it doesn't brute force the solutions though and instead it just uses the provided ground truth!

[2020-07-15 00:27] Briggs599 opened #170 "Faiss-lsh"
We've gotten faiss-ivf working on a really large dataset (54 million vecs). Is there a reason faiss-lsh is disabled in algos.yaml? Should we not even bother using it?

[2020-07-15 21:25] YoshuaNava opened #171 "Benchmark of libnabo"
Hi,
Thank you for sharing this really cool work with the community.

I was wondering if you had plans of benchmarking [libnabo](https://github.com/ethz-asl/libnabo). This KNN library is mainly used for associating data features for Simultaneous Localization And Mapping (SLAM) by many developers, and it's mentioned in papers about visual localization with inverted search indices by Google.

It woul

[2020-07-16 03:02] erikbern commented on #171
I haven't seen that one but it looks cool! If you're interested in getting it added to ann-benchmarks, feel free to put together a pull request!

[2020-07-21 21:35] #170 closed

[2020-07-21 22:43] erikbern commented on #170
Sorry missed this issue. Looks like it happened in this PR: https://github.com/erikbern/ann-benchmarks/pull/74

I believe I did it because the performance was quite bad

[2020-07-22 01:18] Briggs599 commented on #170
All good ended up seeing that outcome reflected in our results. Cheers for getting back to me though!

[2020-07-23 16:16] sammymax opened #173 "ScaNN-only rerun?"
The ScaNN results currently shown on the website reflect configurations that were only tuned for Glove-100; its performance on Glove-25 and LastFM aren't really reflective of its true, properly tuned performance. I later tuned for these datasets in #172. Would it be possible to update ann-benchmarks.com to reflect these new tunings? I regret not taking more time in polishing the original submissio

[2020-07-23 18:05] erikbern commented on #173
I might give it a month? I think the Milvus team is also eager to submit an updated implementation (see #167)

[2020-07-23 18:07] erikbern commented on #173
Btw would love to also feature ScaNN in the Euclidean benchmarks

[2020-07-24 16:48] sammymax commented on #173
Ok, sounds good!

[2020-07-24 16:48] #173 closed

[2020-08-09 19:11] erikbern opened #174 "Elasticsearch"
Would be interesting to add: https://opendistro.github.io/for-elasticsearch/features/knn.html

[2020-08-18 06:34] BossZou opened #176 "Question: Why ann-benchmarks use distance to compute recall rather than id ?"
I noticed that the procedure compute the distance between result vectors and query vector, and use these distances to compute recall value. However, the query results could contain vectors id, which can also be used to compute recall value. Why ann-benchmarks chose the former way?

[2020-08-18 06:57] maumueller commented on #176
Because data points can have the same distance to the query, so "the nearest neighbor" isn't necessarily well defined. (This is particularly easy to imagine for Hamming distance and Jaccard similarity.)

[2020-08-18 07:37] BossZou commented on #176
Thanks @maumueller , I see. I found that there are two dataset `distances` and `neighbors` in data file '*.hdf5', the shape of each dataset is (10000, 100). Is there consistent one-to-one match between those two dataset ?  For example, distance between first query vector and vector which id is `neighbors[0, 10]` is equal to `distances[0, 10]`

[2020-08-18 10:50] maumueller commented on #176
Yes, `neighbors[0][10]` is the point with `distances[0][10]` from the first query point.

[2020-08-18 15:58] erikbern commented on #176
I guess this can be closed?

[2020-08-18 15:58] #176 closed

[2020-08-18 18:57] DovahYol opened #177 "Is it possible to plot recall vs. latency?"
I want to specify latency as x-axis and recall as y-axis when `python plot.py --x-axis --y-axis`.

But I checked metrics.py, there are no metric of latency.
https://github.com/erikbern/ann-benchmarks/blob/af634f77d0f84a0f377ca079a2197dfe80d90a91/ann_benchmarks/plotting/metrics.py#L100-L152

Anybody has any advice?

[2020-08-18 19:09] erikbern commented on #177
Latency is 1/QPS so just use QPS. The reason I like QPS more is that it makes the metrics consistent in the sense that higher values are better.

[2020-08-18 19:09] maumueller commented on #177
What is the definition of latency in your case? Is it the average time it took to answer a query? In that case, it seems analogous to QPS. In any case, you could just add it to `metrics.py` and compute latency (say in milliseconds) from QPS by returning `1000/QPS`.

[2020-08-18 19:10] maumueller commented on #177
Haha, I should keep my answers shorter :-P

[2020-08-18 19:19] DovahYol commented on #177
OK I'll take your advice, add new metric to metrics.py. Thanks!

[2020-09-09 21:46] alexklibisz opened #178 "Is there a way to specify different algo args based on the dataset?"
I've been working on integrating elastiknn: https://github.com/alexklibisz/elastiknn
Getting close to making a PR, but I have a case where the good args for the one dataset are different than the good args for another, both with euclidean distance.
I guess I could just include them all, but that seems like a waste of compute resources since I know what's good for one dataset will work poorly for a

[2020-09-10 01:43] erikbern commented on #178
There's no way. I think it's fine to include both parameter sets, although if they are wildly different I'd be a bit nervous they are cherry picked.

Very excited about including elastiknn!

[2020-09-10 01:44] #178 closed

[2020-09-21 16:42] igorbrigadir commented on #174
I'd love to have the numbers for this too - docs say it uses HNSW from NMSLIB so it would be similar to that, but maybe there are some overheads that may lead to differences in performance.

[2020-09-21 21:47] erikbern commented on #174
I believe this is being implemented under #180

[2020-09-29 22:44] tueboesen opened #182 "[Question] Are there any ANN methods for sparse data?"
I'm wondering if there exist any ANN method suitable for datasets with high number of dimensions but where the dimensions are sparsely populated.

I can see that the typical suggestion is to do dimensionality reduction, which I might end up doing, but before I go that route I was just wondering whether there are any alternatives.

My specific dataset are multiple sequence aligments in bioinformati

[2020-09-30 00:13] yurymalkov commented on #182
You can use nmslib (https://github.com/nmslib/nmslib), it supports sparse distances.

[2020-09-30 03:25] tueboesen commented on #182
I'm seeing speedups of around 2-3 times with that one, so that seems to work great (not sure how much of a speedup I should expect)

Thank you very much!

[2020-09-30 03:25] #182 closed

[2020-09-30 12:20] erikbern commented on #182
+1 for dimensionality reduction as you mentioned

[2020-10-06 12:26] tim-hilt commented on #162
@maumueller i couldn't find it when i looked there today! Were binary benchmarks excluded again?

[2020-10-06 12:28] maumueller commented on #162
Yes, I think the website currently reflects only the latest run of @erikbern. We could put it into the results manually, but this will mix up different versions of implementations. :-(

[2020-10-06 13:57] erikbern commented on #162
I can include it next time I run the benchmarks!

[2020-10-06 14:38] tim-hilt commented on #162
@erikbern that would be great, thanks! :+1:

[2020-10-14 20:59] alexklibisz commented on #178
@erikbern I'm still stuck on this and want to propose a solution and get your feedback before PRing it.

To recap, basically there is one parameter (the LSH hashing width parameter `w`) which needs to be around 6 or 7 for good performance on the Fashion-MNIST dataset, and around 1 or 2 for the SIFT dataset. There's a pretty intuitive explanation, [which I detailed here](https://github.com/alexklib

[2020-10-15 19:40] maumueller commented on #178
@alexklibisz I'm wondering if you cannot figure out `w` from sampling points during index building and base `w` on the observed distances between points in the sample? There is also always the option to figure out which dataset you are currently running on by looking at the first coordinates of the first vector in the array provided in `fit`. (This is of course very hacky, but it seems that this i

[2020-10-15 23:20] alexklibisz commented on #178
Hi @maumueller . Thanks for the input! Generally Elastiknn operates under the assumption that there is no explicit "fitting" or "building" phase. As with regular Elasticsearch documents, you can insert/update/delete vectors as you would any old Elasticsearch document. I'm not sure if a fitting/sampling step would solve this problem, since I still couldn't say "these sampled values are for dataset

[2020-10-19 19:57] erikbern commented on #178
I think just killing the container after 2h is fine. I might make it 1h actually. Going forward I'm planning to run on a high-RAM machine and run a lot of algorithms in parallel so that it doesn't run for several weeks

[2020-10-21 13:35] DovahYol opened #184 "What does the parameter 'False' mean?"
Check
https://github.com/erikbern/ann-benchmarks/blob/9511d6a7544564ab4c356115a4354fd456de9a8c/algos.yaml#L369
Comparably there isn't 'False' in the following snippet.
https://github.com/erikbern/ann-benchmarks/blob/9511d6a7544564ab4c356115a4354fd456de9a8c/algos.yaml#L588-L589

Makes any difference?

[2020-10-21 14:09] maumueller commented on #184
@searchivarius probably knows.

[2020-10-21 14:38] searchivarius commented on #184
@maumueller not sure. Which parameter is it mapped to?

[2020-10-21 19:27] maumueller commented on #184
I took a quick look and the missing `False` is actually a bug.

The `False` will map to `query_param` which will tell the implementation that the query parameters are set later
https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/algorithms/nmslib.py#L13, which seems to mainly affect the name that is given for the run.

It's actually a bit annoying that the query parameter is not

[2020-11-04 09:24] psteinb opened #187 "extracting bruteforce NN class with proper citation"
Hi @erikbern et al,
thanks so much for providing this wonderful venue to see benchmarks of ANN implementations.

I am wondering if you would support me in extracting the [BruteForceBLAS](https://github.com/erikbern/ann-benchmarks/blob/a851a311ec8ac2488383fdfb06a185d8bc3e8062/ann_benchmarks/algorithms/bruteforce.py#L33) into a separate package and publish it on PyPI and/or conda? I would keep the l

[2020-11-04 09:46] maumueller commented on #187
Hi Peter

A general comment: Did you try the brute-force variants provided by sklearn? (https://scikit-learn.org/stable/modules/neighbors.html) I think they are implemented in a pretty similar way.

[2020-11-04 10:34] psteinb commented on #187
Ah, that didn't occur to me that `sklearn` offers such functionality.

But triggered by your comment @maumueller , I found that [`sklearn.neighbors.NearestNeighbors`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html#sklearn.neighbors.NearestNeighbors) offers the value `brute` for the `algorithm` parameter. I wasn't aware of this. I'll have a look.

[2020-11-04 11:52] psteinb commented on #187
I had a look at this [see my benchmark code](https://gist.github.com/psteinb/90a8728df5b7d86cb5fafb9bd5e94d9f) with 64k samples of 12dims each (128 queries only).

[code]

Appears that brutenn (the one that I took from ann-benchmarks) has a performance edge.

[2020-11-04 14:40] DovahYol opened #188 "Is there a manual for providing a new dataset for ann-benchmarks?"
I have a new dataset which has 1 billion data points, and I want it to be used by ann-benchmarks, what do I need to do?

[2020-11-04 16:23] erikbern commented on #187
i'm fine using the separate package instead of sklearn

[2020-11-04 16:24] erikbern commented on #188
I'm not sure if we're "ready" for 1B data points. Which dataset is it?

[2020-11-05 04:47] DovahYol commented on #188
It's an internal data points which isn't ready for open source by now. Basically it's 100 dims, signed int8.
Change the question, what if 1M data points? I'd like to sample a subset of 1B data points.

[2020-11-07 17:15] alexklibisz commented on #174
So far I've implemented ES-based nearest-neighbors for the stock vector functionality that comes with X-Pack (#186) and for my own vector search plugin: https://github.com/alexklibisz/elastiknn (#189).

I'm hoping to also find some time to implement it using Amazon's open-distro plugin, which was linked in the original issue comment above.

[2020-11-11 16:22] erikbern commented on #188
I'm a bit hesitant to open source proprietary data – I'd like for it to be some existing data set that's already public.

[2020-11-18 18:10] hairbeRt opened #190 "Installation fails on Ubuntu 18.04"
Installing via python3 fails running installation.py, because the request 'https://raw.githubusercontent.com/milvus-io/docs/v0.6.0/assets/server_config.yaml'' returns 404. The repo structure of milvus-io/docs has changed, URL should be changed to 'https://raw.githubusercontent.com/milvus-io/docs/master/v0.6.0/assets/server_config.yaml'. Possibly that once this is fixed, some other URLs from the sa

[2020-11-20 01:32] erikbern commented on #190
ok, i think the milvus setup is pretty old and we should update it to the latest version

[2020-11-30 05:59] stephenleo opened #191 "Two issues while installing current master branch and their workarounds"
Thank you for the excellent package. The current master branch is having some issues installing. Here are the issues and their workarounds. I already saw a PR for `pynndescent`. I'm not sure if `milvus` workaround is ok. I'll report back if I encounter any other issue. Admin, pls close this issue once the master has been updated to handle these two. Thanks.

**Issue 1:**
`pynndescent` dockerfile r

[2020-11-30 19:51] alexkreidler opened #192 "Consider HTML results output"
Several graphing libraries in python (e.g. Plotly, Vega) support outputting to interactive HTML that would make it easier for users to understand the data.

Also, you may want to consider making the output results consistent by displaying but graying out results from algorithms that either failed to return outputs or don't support a given data set. For example, `bruteforce-blas` and `scann` are no

[2020-11-30 20:31] maumueller commented on #192
`create_website.py` generates interactive plots. See the website for examples, e.g., http://ann-benchmarks.com/glove-100-angular_10_angular.html.

[2020-11-30 20:32] alexkreidler commented on #192
Ah, so sorry!

[2020-11-30 20:32] #192 closed

[2020-12-01 05:13] stephenleo commented on #188
I was also in need of running it on a custom dataset and read through the code to make the changes.

s far as I can see. There are 4 changes:
1. Input hdf5 file of the following format saved in a new ann-benchmarks/data directory. Train, test, neighbors, and distances are pandas data frames. Generating these data frames is a task in itself.
[code]

2. Update ann-benchmarks/ann-benchmarks/main.py t

[2020-12-01 07:40] maumueller commented on #188
It's a bit easier than that:

1. Add a new function that generates the data in the dataset however you see fit, e.g., as in https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/datasets.py#L247-L254. The last line of the function is probably the call to `write_output` that takes care of generating the hdf5 file.

2. Add the dataset name/function to create it to the DATASETS dictio

[2020-12-01 13:23] stephenleo commented on #188
Perfect! It works and is much simpler. Thanks!

[2020-12-01 14:02] erikbern commented on #191
Hi – this is great! Would you mind submitting a pull request so that we can update the code?

[2020-12-01 14:03] #188 closed

[2020-12-01 14:34] stephenleo commented on #191
Submitted!

[2020-12-01 18:32] #191 closed

[2020-12-02 03:17] stephenleo opened #194 "Default Colors are a bit hard to see on certain algorithms"
The default plot colors are too light to clearly see on a white background (especially for faiss-ivf, hnsw(nmslib). I propose a slight modification to the colors to make it more readable in my opinion. What do you folk think?

Code change to ann-benchmarks/plotting/utils.py:
[code]

Defaults:
![image](https://user-images.githubusercontent.com/35026793/100823467-38a16100-348f-11eb-84ae-91452c903b88

[2020-12-02 14:06] stephenleo commented on #190
Apparently, after the milvus link was updated, it still fails on Ubuntu at pynndescent. I'll push a fix later.

I'm also thinking of updating `install.py` so that if a particular algo fails, the installation still continues and just logs which algos failed and which passed. In this way, we won't face a completely failed installation if just one or two package fails. what do you think?

[2020-12-02 22:17] erikbern commented on #190
I think that makes sense. Also the Milvus implementation right now is pretty bad. It's a really old version and it's a bit fragile how it's set up. I'm OK disabling/removing it for now.

[2020-12-03 18:19] #190 closed

[2020-12-03 18:19] erikbern commented on #194
sure, feel free to submit a PR and I'll merge!

[2020-12-04 13:12] #194 closed

[2020-12-05 03:40] stephenleo commented on #188
I wrote up a medium post with the detailed code if anyone needs this [Link](https://medium.com/towards-artificial-intelligence/how-to-choose-the-best-nearest-neighbors-algorithm-8d75d42b16ab?sk=889bc0006f5ff773e3a30fa283d91ee7).

The link is the medium's friend link which allows for viewing the story without the paywall.

[2020-12-06 03:15] erikbern commented on #188
nice, that's pretty cool!

[2020-12-09 14:29] stephenleo commented on #174
I'm using opendistro at work and familiar with the KNN plugin. I have it working with ann-benchmarks but still hitting random timeouts that I'm troubleshooting. @alexklibisz , do you mind if I fix and push this one?

[2020-12-09 14:32] alexklibisz commented on #174
Go for it! I haven't had the time to even start on it yet. Also obviously feel free to borrow from the Elastiknn and Elasticsearch docker images and algos and post questions about your timeouts. I found some things very tricky to setup with Elasticsearch.

[2020-12-09 14:43] stephenleo commented on #174
Oh yes your work on other elastic images helped tremendously. I'm mainly facing timeouts during refresh. I increased it to 100 from default 10 and it still fails on some runs. Wondering if I should increase it further or find some other way to handle it. I hope to update my fork over this weekend so that I can share the code for a clearer picture. Thank you!

[2020-12-09 14:50] alexklibisz commented on #174
Good to hear. 10sec definitely seems way too low. With regular ES under the hood, I wouldn't be surprised if refreshing and merging 1M docs into a single segment takes 2-3 minutes. You also have to factor in that you're using an HNSW binary under the hood, so maybe you can get an idea of reasonable times by fitting some HNSW models without ES in the loop.

[2020-12-09 14:51] #174 closed

[2020-12-09 14:51] erikbern commented on #174
closing this for now since it's added right?

[2020-12-09 14:53] alexklibisz commented on #174
I guess it depends how granular you want to make the issues. Right now there are three ways to do KNN on elasticsearch:
1. Using built-in functionality for exact/exhaustive KNN.
2. Using Elastiknn for ANN
3. Using Amazon opendistro for ANN

So far 1 and 2 are implemented and merged. @stephenleo is working on 3.

[2020-12-09 14:55] erikbern commented on #174
Got it – I think it's good enough for now? Is there a huge difference between 3 and 1/2?

[2020-12-09 15:01] alexklibisz commented on #174
I would not be surprised if there actually is a pretty substantial difference. 1 and 2 use the JVM exclusively, which is pretty darn slow for CPU-bound number crunching. 3 is using the C/C++ HNSW binary under the hood, which is an extra operational consideration, but if they implemented it well should be clearly faster.

[2020-12-09 15:58] erikbern commented on #174
oh ok, interesting. looking forward to any PR for #3!

[2020-12-27 10:51] frankier opened #207 "knn-graph construction benchmark"
Firstly, thank you very much for creating this benchmark. It is very helpful for navigating this exciting but somewhat overwhelming field.

I am interested in particular in the performance of constructing a knn-graph from data points. I wonder whether this would be an interesting additional benchmark. I believe the results might differ somewhat from the existing results, since:

 1. It would combi

[2020-12-28 10:49] maumueller commented on #207
What measure do you suggest? You could edit https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/plotting/plot_variants.py to include different measures that relate build time and qps.

Note that the interactive website(e.g., http://ann-benchmarks.com/glove-100-angular_10_angular.html) might contain plots that are of interest here. One of them relates the recall to the index size/

[2020-12-28 20:15] erikbern commented on #207
You could sort of infer it by adding the index build time and the extrapolated query time for the full dataset. In a way I like this metric because it encapsulates everything (whereas currently we ignore the index building time in the benchmarks, as long as the index completes within 1h).

[2021-01-08 07:19] frankier commented on #207
It's true that the (extrapolated) KNN query time is very general and probably the most useful benchmark for most people, however KNN graph construction is also quite general e.g. it's the recommended way to do unsupervised learning when there's many high dimensional data points in scikit-learn. This includes including clustering and manifold learning. Many high dimensional points means basically a

[2021-01-10 12:56] thomasahle opened #209 "Support 'logit' scale for x-axis"
The matplotlib `logit` scale is very nice when plotting values between 0 and 1. In particular, this fixes the current problem of plots being incomprehensible in the "high recall" regime.

I suggest changing the `--x-log` and `--y-log` parameters from `plot.py` to `--x-scale` and `--y-scale` taking parameters for plugging directly into `matplotlib`. This will also support the `symlog` scale.

I hav

[2021-01-11 20:19] SeanPedersen opened #210 "Graphs hard to parse for color blind people"
Hey very cool project! I find the performance graphs really hard to understand though because of my red-green color blindness. I can imagine many others with worse color blindness having even worse issues. Is there a textual comparison table available? This would help a lot.

Another option could be to make the diagrams interactive and highlight the current selected algorithms performance in some

[2021-01-11 22:30] erikbern commented on #210
There's actually interactive graphs available here! http://ann-benchmarks.com/glove-100-angular_10_angular.html

I'm not colorblind but honestly I find it hard to parse too. Maybe we could limit it to a smaller number of algorithms

[2021-01-11 22:30] erikbern commented on #209
But will that work when the accuracy is exactly 1 or 0? Won't those be projected to +-infinity?

Do you have a screenshot you can show?

[2021-01-11 23:45] thomasahle commented on #209
I haven't run all the algos, but I do think the logit plot makes things easier to read:
![glove-100-angular](https://user-images.githubusercontent.com/946355/104250962-02cca080-546f-11eb-9698-16b52cd32a8a.png)
In particular, I think for a plot like http://ann-benchmarks.com/glove-25-angular_10_angular.html that is currently incomprehensible.

You are right that the brute force algorithm with its r

[2021-01-12 00:39] SeanPedersen commented on #210
Cool looks like I made a good choice using https://github.com/nmslib/hnswlib/ for my project.

Yes maybe reduce to the top 10 and the interactive graph is awesome, even for me! I suggest linking to it more prominently in the top section of the README as I was not aware of it after spending some time looking for it.

[2021-01-12 15:47] erikbern commented on #209
I think something that warps [0, 1] using roughly `x^10` might also be OK. That would project 0.9 to 0.35 and 0.99 to 0.9

Not sure how hard it is to implement a custom scale. I looked at it a while ago and it seemed like a fair amount of boiler plate

[2021-01-13 22:34] thomasahle commented on #209
This is the standard linear scale for comparison.

![glove-100-angular](https://user-images.githubusercontent.com/946355/104518323-ddb76980-55f7-11eb-9859-9c4196a153e2.png)

[2021-01-13 22:41] erikbern commented on #209
Nice! I think we might want to throw in minor gridlines, but looks pretty good!!

[2021-01-14 12:13] thomasahle commented on #209
This is alpha=2.

With minor grid lines:

![glove-100-angular-logit](https://user-images.githubusercontent.com/946355/104589321-f7919480-5669-11eb-8bb5-4623ebbe1114.png)

With evenly spaced major gridlines:

![glove-100-angular-logit](https://user-images.githubusercontent.com/946355/104589250-daf55c80-5669-11eb-8244-cbf246c7c41c.png)

(not sure the minor gridlines make sense here, since you can't

[2021-01-14 12:44] maumueller commented on #209
Hi Thomas

You can access the groundtruth for glove-100-angular via ` aws s3 cp --recursive s3://ann-benchmarks.com/results/2020-07-13/glove-100-angular/ .`.

I would also like to see it with a bit more algorithms. I honestly don't know how important it is to put that much focus on the high recall regime. I think the linear-scale is still easier to interpret, but I'm clearly biased after having lo

[2021-01-14 14:37] thomasahle commented on #209
Hi Martin, I get `fatal error: Unable to locate credentials`.

[2021-01-14 15:53] maumueller commented on #209
I see, I hope this will work: http://ann-benchmarks.com/results/glove-100-angular.zip

[2021-01-14 16:26] thomasahle commented on #209
It somehow doesn't find those files. It seems to be because they don't have the suffix hdf5. Maybe my ann-benchmarks version is too new?
E.g. in the `glove-100-angular.zip` zip file I find `glove-100-angular/10/puffinn/angular_1073741824_fht_crosspolytope_0_1`, but when I run ann-benchmarks myself, it generates files like `glove-100-angular-mine/10/scann/1000_0_2_1_1_10.hdf5`.

[2021-01-14 18:11] maumueller commented on #209
Oh, right. That was a recent change. Just rename all of them to contain the suffix.

[2021-01-14 20:55] thomasahle commented on #209
Alright, here you go.
Certainly a bit more uniform in terms of where "the action" is in the plot.
If you upload the data, I can test glove-25 too, on which the effect should be even stronger.

![glove-100-angular-logit](https://user-images.githubusercontent.com/946355/104648154-094b5a00-56b3-11eb-86b4-6c73419ffeca.png)

[2021-01-14 21:27] maumueller commented on #209
I can do that tomorrow (or Erik might be able to tell you how to get s3 to work ;-))

[2021-01-15 16:58] thomasahle commented on #209
Alright, here is alpha 3, 2, 1 (same as linear) and logit for glove-25.

![glove-25-angular_a3](https://user-images.githubusercontent.com/946355/104755311-8e3d7e80-575a-11eb-848c-d324ff1b5063.png)
![glove-25-angular_a2](https://user-images.githubusercontent.com/946355/104755317-909fd880-575a-11eb-9f95-aaf646a2946f.png)
![glove-25-angular_alpha=1](https://user-images.githubusercontent.com/946355/10

[2021-01-15 17:16] thomasahle commented on #209
I also tried doing alpha=4 with axis labels looking more like the logit plot:

![glove-25-angular](https://user-images.githubusercontent.com/946355/104757735-b9759d00-575d-11eb-8c86-e80c73c2b9d5.png)

[2021-01-15 21:47] erikbern commented on #209
Nice, I think this looks really great. Happy to merge!

[2021-01-25 18:47] tim-hilt commented on #162
@erikbern Any progress on this?

[2021-02-03 12:00] erikbern commented on #162
Sorry, haven't had time to work on it. I hope to have plenty of free time in March

[2021-02-03 12:08] tim-hilt commented on #162
Thanks for the feedback @erikbern :) Great to here, that it's not forgotten!

[2021-02-05 09:31] Kun-Ming opened #217 "Downloading datasets is slow"
The speed of download datasets is slower than 100kB/s, is that the normal speed of your website? Or there is something wrong with my network?

[2021-02-13 14:41] erikbern commented on #217
that's most likely on your side – the datasets are hosted on s3 so it should be very fast!

[2021-02-13 14:41] #217 closed

[2021-02-20 13:12] lajiyuan opened #218 "ModuleNotFoundError: No module named 'ann_benchmarks.runner'"
Run default experiment Failed.

# replay method

- Clone the repo.
- Run pip install -r requirements.txt.
- Run python install.py to build all the libraries inside Docker containers (this can take a while, like 10-30 minutes).
- Run python run.py (this can take an extremely long time, potentially days)

# log
2021-02-20 13:04:00,189 - annb - INFO - not all docker images available, only: {'ann-benc

[2021-02-22 03:34] Kun-Ming commented on #218
Are you running the run.py? seems like you're running run_algorithm.py. By the way, the docker generation is not good enough, I can't generate docker environment by the script either.

[2021-02-22 03:42] lajiyuan commented on #218
i run the command that "python3 run.py" , i don't know why.

[2021-02-22 03:49] Kun-Ming opened #219 "Different result from the website"
I run faiss-ivf and hnsw(faiss) on glove-25-angular dataset in batch mode, and then plot the result:
![glove-25-angular-batch](https://user-images.githubusercontent.com/45357009/108654274-4a7d2800-7503-11eb-8897-5d9cf76c82d7.png)
While the result post on the [interactive website](http://ann-benchmarks.com/glove-25-angular_10_angular.html) like this:
<img width="1064" alt="截屏2021-02-22 上午11 45 31"

[2021-02-23 08:21] lajiyuan commented on #218
I solved this problem . I tried to run the entire experiment in a docker container, and it was fine when I used a virtual machine to run the experiment.

[2021-02-23 08:21] #218 closed

[2021-03-02 05:33] Kun-Ming opened #222 "What does parameter 'verbose' mean?"
For example, in https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/algorithms/faiss_hnsw.py#L18, does it affect search()?

[2021-03-02 05:34] Kun-Ming commented on #219
Maybe due to the batch mode. close

[2021-03-02 05:34] #219 closed

[2021-03-02 14:59] rbournhonesque opened #223 "Docker build failed for opendistroknn and sptag"
The errors occur when building all images with `python install.py` command.
Opendistroknn build log:
[code]

sptag build log:
[code]

[2021-03-04 08:13] lajiyuan commented on #223
The errors occur when building SPTAG images, I found that they fixed this issue with PR https://github.com/microsoft/SPTAG/pull/188. you can fork your branch and apply this commit.

[2021-03-13 12:51] erikbern commented on #223
ok, i'll see if i can fix master

[2021-03-23 03:34] lajiyuan opened #225 "python3 create_website.py to generate website， ERROR 'Permission denied'"
Should we execute "chmod -R 777 results" after writing out the result folder every time, otherwise we will not have read permission and we cannot use create_website.py to generate a website？

[2021-03-23 10:02] maumueller commented on #225
The idea is to to run `create_website.py` with `sudo`. The docker container writes the result files as `root`, and `create_website.py` will cache some computations and needs write access to these files. @erikbern Maybe we should run the docker images as the actual user.

[2021-03-23 15:32] erikbern commented on #225
I think Docker generally likes to run as the superuser on a system, and I'm not sure if we have control over that, but I could be wrong?

My preference here would be to not mess around with permissions if possible. Maybe it's possible to write the website to a different directory or to mount a subdirectory of the results/ directory?

[2021-03-23 15:53] maumueller commented on #225
I think it's pretty straight-forward to do, see e.g., https://github.com/lemire/docker_programming_station/blob/master/Dockerfile#L21-L27, from https://lemire.me/blog/2020/05/22/programming-inside-a-container/.

The problem is not with the website creation, but with the `hdf5` files being owned by `root`, and the metrics scripts trying to cache metrics by writing them into the `hdf5` file.

[2021-03-23 16:48] erikbern commented on #225
If it can be fixed in the Dockerfile, let's definitely do that. I didn't realize it was possible.

[2021-03-24 12:31] lajiyuan opened #227 "Question: The difference between the memory of the container and the index process."
I use the Scann algorithm in the ann-benchmarks framework to run my own data set, the size of the data set is 50M, and the startup command is:
[code]
Docker container information is:
[code]
After the program is finished running, I use grafana to check the container memory. The peak memory is 238G.
![image](https://user-images.githubusercontent.com/38530078/112310313-654be380-8cdf-11eb-9f00-9fb0d7e

[2021-03-24 12:35] maumueller commented on #227
The way we measure memory is to just take a snapshot before and after indexing. I think this is probably the last spike from 186 to 233gb that you see. There are other parts that we don't measure, for example the pure size of the dataset and copies of that, which might be the first spikes that you get?

[2021-03-24 12:59] lajiyuan commented on #227
Thank you for responding so quickly, I understand.

[2021-03-24 13:00] #227 closed

[2021-04-15 06:36] Kun-Ming opened #231 "How do you know the interface of faiss python?"
I want to add some faiss algorithms on this project, but I can't find description of faiss python interface. How do you get these information?

[2021-04-15 06:41] maumueller commented on #231
I am not completely sure what you mean, but you can just take a look how we implemented IVF/LSH/HNSW in https://github.com/erikbern/ann-benchmarks/tree/master/ann_benchmarks/algorithms. I've implemented these following https://github.com/facebookresearch/faiss/wiki/Faiss-indexes if I remember correctly.

[2021-04-15 08:03] Kun-Ming commented on #231
I had seen IVF/LSH/HNSW, they are fantastic implementation. I just wondering how do you know the argument of faiss function, such as search(), is that same as c++?

[2021-04-15 08:10] maumueller commented on #231
I think I took it from the examples the pasted on the wiki. You can always take a look at https://github.com/facebookresearch/faiss/blob/master/faiss/python/__init__.py, or just do `help(...)` on the index object to see its methods.

[2021-04-15 08:22] Kun-Ming commented on #231
Thanks! That solved my question.

[2021-04-15 08:22] #231 closed

[2021-04-17 19:20] ShikharJ opened #232 "Running with Parallelism on AWS C5.4x Large Instance Leads to OOM Errors"
Hey everyone,

This is an issue I faced while trying to generate the QPS vs Recall plots for `ann-benchmarks`. The issue is that when building the algorithms with `parallelism = 3`, the available memory gets divided equally between the docker containers running the three algorithms.

A typical `AWS C5.4x large` instance comes with 30 GBs of total RAM available. However, when building on top of the

[2021-04-19 16:43] maumueller commented on #232
Thanks so much @ShikharJ . I think that this is indeed a huge problem. What do you think, @erikbern ? It seems the `r6g` type instances might be better for running the benchmark in the future?

[2021-04-27 02:32] erikbern commented on #232
Last time I ran the benchmarks, some fraction of containers crashed because of OOM issues. I personally think it's not a super big deal. I prefer if we're more liberal with the algo definitions and you can include a larger range of parameter combinations. I think that's good, even though it means some % of runs crash.

[2021-05-12 09:20] QwertyJack commented on #159
When to add `--batch`?

[2021-05-12 10:58] maumueller commented on #159
It's a different query mode: Without batch (the default mode), queries are presented one by one and the docker container is constrained to use a single CPU/thread. With `--batch`, all queries are presented at once, the docker container uses all resources available on the host, and result conversion is done in a separate method.

[2021-05-13 02:06] QwertyJack commented on #159
How about batch mode using single CPU? Does that make any sense?

[2021-05-20 05:00] Calen-J opened #240 "fail to build diskann"
In file included from /home/app/diskann/include/percentile_stats.h:16:0,
                 from /home/app/diskann/include/pq_flash_index.h:16,
                 from /home/app/diskann/src/pq_flash_index.cpp:5:
/home/app/diskann/include/distance.h: In member function 'virtual float diskann::AVX512DistanceL2Float::compare(const float*, const float*, unsigned int) const':
/home/app/diskann/include/dist

[2021-05-20 07:42] ShikharJ commented on #240
@maumueller This is because the current code is slightly hard-coded to run only on systems which have AVX-512 support (2017 or later CPUs). For running on non-AVX512 systems, a few changes would be needed.

[2021-05-20 07:47] maumueller commented on #240
I see. It seems not useful to run diskann in CI in that case? Are you planning to add support for other platforms anywhere in the near future?

[2021-05-20 10:16] ShikharJ commented on #240
Umm, actually I think the CI servers are making use of AVX-512 compatible processors. I don't see any of the builds failing. As for support for other platforms, it's just a  matter of time before system checking is automated in the code itself, so that this issue goes away.

[2021-05-20 10:22] maumueller commented on #240
It actually seems that they don't for github actions. (https://github.com/actions/runner/issues/1069)

[2021-05-20 14:46] erikbern opened #241 "big-ann-benchmarks.com"
Just saw http://big-ann-benchmarks.com

I'm a bit surprised the authors of that competition didn't mention anything to me or the other people working on this benchmark suite? Feels like there's a lot of overlap and I wish we could have worked together on it.

cc @maumueller

[2021-05-20 14:48] erikbern commented on #241
Actually just realized @maumueller is in the list of organizers... are you involved? Curious about your thoughts on whether it could be merged into this repo. I think there's a lot of value in having reproducible containers and everything open source.

[2021-05-20 21:39] Chokerino opened #242 "Using custom metrics"
Hello,

I wanted to use NN approximation for a problem and I need to use a custom metric for distance calculation between 2 data points. As per my understanding, I would need to implement the algorithm on my own and no library provides such support for adding my own distance score? My problem is related to genomes and the distance between 2 genomes is calculated by an in-house program. Also, to fi

[2021-05-21 01:00] erikbern commented on #241
Sorry I must have missed that email or forgotten about it. Looking forward to see the code, hopefully there's an opportunity to collaborate!

[2021-05-21 03:49] ShikharJ commented on #240
Ah, I didn't realise the repository had shifted from Travis. I'll look into this then.

[2021-05-21 07:26] maumueller commented on #242
We benchmark NN approaches and do not develope them, but my suggestion is to look at some of the graph-based approaches. Personally, I think https://github.com/lmcinnes/pynndescent is a good starting point, see e.g., https://github.com/lmcinnes/pynndescent/commit/56a16eb6bd5ea954c5aa7906a1587b386d29e5d0 for adding a new distance.

It will be quite some work to "test out multiple different implemen

[2021-05-22 02:43] erikbern commented on #242
Closing this for now as it doesn't seem related to ann-benchmarks per se!

[2021-05-22 02:43] #242 closed

[2021-06-05 17:42] DmitryKey opened #246 "Python 3.7 and fresh checkout from master: dependency installation issue"
Hello! I've tried installing dependencies under Python 3.7.10 and got the following output. What Python version is supported / recommended?
[code]

[2021-06-07 09:40] Calen-J opened #247 "Does hnswlib support cosine?"
https://github.com/erikbern/ann-benchmarks/blob/3aedc8a314aba1c7d42b64e7ff9f3944e6822a93/ann_benchmarks/algorithms/hnswlib.py#L17

it says l2 is only supported right now,but some results given include hnswlib in angular datasets

[2021-06-07 10:43] maumueller commented on #246
Python 3.6 is required for installing the current requirements.

On most setups I've tried with more recent versions of Python, just removing the pinned versions of the libraries worked fine.

[2021-06-07 10:44] maumueller commented on #247
Given the explicit mapping

https://github.com/erikbern/ann-benchmarks/blob/3aedc8a314aba1c7d42b64e7ff9f3944e6822a93/ann_benchmarks/algorithms/hnswlib.py#L11

the comment seems obsolete. @yurymalkov knows the details.

[2021-06-07 11:19] Calen-J commented on #247
the recall of hnswlib calculated by cosine is almost near 1, i'm afraid that i
got something wrong

[2021-06-07 13:48] erikbern commented on #246
The installation problems above seem to have to do with Numpy, not ann-benchmarks

We should make ann-benchmarks work with Python 3.8 and 3.9 though – 3.6 is ancient at this point.

[2021-06-07 17:56] yurymalkov commented on #247
Yes. The comment is obsolete. Sorry for that.

[2021-06-08 03:14] Calen-J commented on #247
But the results using 'angular' are strange,  any other place should i  modify?
Computing knn metrics
 18:                                       hnswlib ({'M': 48, 'efConstruction': 500})        0.999     5071.112
Computing knn metrics
 19:                                       hnswlib ({'M': 96, 'efConstruction': 500})        0.999     4770.435
Computing knn metrics
 20:

[2021-06-10 13:11] DmitryKey commented on #246
thanks so much for your responses! I'll check lower Python version and report here.

[2021-06-10 16:26] #247 closed

[2021-06-11 14:33] erikbern commented on #222
no it just prints some debug stuff

[2021-06-11 14:33] #222 closed

[2021-06-16 08:12] lc0 commented on #210
@erikbern any plans to use interactive plotting like [Altair](https://altair-viz.github.io/) in python. Would help with more algorithms and still all pythonic without much overhead

[2021-06-16 12:58] erikbern commented on #210
I'd be open to doing that. If you have time, feel free to give it a shot and submit a pull request!

[2021-06-18 04:12] sayakpaul opened #249 "Regarding a clarification"
From the [site](https://awesomeopensource.com/project/erikbern/ann-benchmarks):

Could you expand a bit more on this preferably with a small example w.r.t any of the benchmarking datasets provided? What is sorted and how exactly it is sorted?

[2021-06-28 16:44] francomarianardini opened #250 "new dataset generated with write_output()"
Hello,

thanks for your framework. very interesting!

we want to define a new dataset and we use your "write_output()" fuction defined in ann_benchmark/datasets.py to convert numpy arrays in a h5df file. After building the data files, the framework fails in testing the algorithms on it. I got

Trying to instantiate ann_benchmarks.algorithms.n2.N2(['angular', {'M': 36, 'efConstruction': 500}])
got

[2021-06-28 18:09] maumueller commented on #249
Hi @sayakpaul

It means that three sets `[{1,3,2}, {1,3}, {1,5}]` are represented by the array `[1,2,3,1,3,1,5]` with an accompanying `size` attribute that would be `[3,2,2]`. See https://github.com/erikbern/ann-benchmarks/blob/18ba39b6a4af1243b26bf5fedc6c5c7ced791d70/ann_benchmarks/distance.py#L38-L45 for details.

[2021-06-28 18:12] maumueller commented on #250
Hi @francomarianardini.

I think I need more details to give detailed feedback. Could you share parts of the code before calling `write_output`?

What comes to mind is that `dataset_transform` underwent a change recently. Could it be that you created the dataset with an old version, but ran it with a more recent version?

[2021-06-29 00:55] sayakpaul commented on #249
Thanks much. Appreciate it.

[2021-06-29 00:55] #249 closed

[2021-06-29 08:22] francomarianardini commented on #250
Thanks @maumueller for the prompt reply.

We are building the dataset with the code below. As you see, we are using the write_output() method to write the dataset. The dataset is created using the same version that I then use to run the framework.

What do you think? Thanks,

FM

--
`import sys
import numpy
import torch
from ann_benchmarks.datasets import train_test_split, write_output

in_fn = sy

[2021-07-05 17:05] francomarianardini commented on #250
Hello @maumueller,

what do you think of the code above? let me know how if you need something more from my side.

thanks, best,

FM

[2021-07-05 22:38] nrempel commented on #246
Hi there, I'm having the a similar issue. However, I tried Python 3.6.13 and h5py requires 3.7+:

[code]

(3.7 fails with other errors)

[2021-07-05 23:09] nrempel commented on #246
In my case, `wheel` was not available. Running `pyenv exec pip pip install --upgrade pip setuptools wheel` solved my problem.

[2021-07-06 14:10] maumueller commented on #250
Franco,

sorry for the late reply, I indeed missed your first response.

Running `python test.pt data/test` with
[code]

produces hdf5 files that work on my setup. Could you check?

There was indeed a bug #251 that I've fixed, but it didn't give me the error message you received above.

[2021-07-08 18:04] DmitryKey commented on #246
took a while to come back to this -- @nrempel thanks for sharing a recipe that worked for you.
I've just tried to bootstrap the project with 3.7 and got this in PyCharm:

<img width="719" alt="Screenshot 2021-07-08 at 20 58 59" src="https://user-images.githubusercontent.com/123553/124969628-9acad180-e02f-11eb-974c-82d2fb2d342d.png">

the screenshot looks a bit strange, because matplotlib==2.1.0.

[2021-07-08 21:29] erikbern commented on #246
Not sure if we need to pin the matplotlib version, feel free to use the latest and see if it works!

[2021-07-09 14:08] DmitryKey commented on #246
I tried to upgrade to all latest versions with Python 3.7. The following library versions installed correctly:

[code]

Going to verify by building docker image and running it next.

[2021-07-09 20:58] DmitryKey commented on #246
With the versions above, I got these distribution of success/fail:

[code]

need to investigate further.

[2021-07-10 10:41] DmitryKey commented on #246
Just wanted to log things as I go -- sorry if this is the wrong thread (figured, I'd keep all in one place to avoid creating multiple tickets):

    python run.py --algorithm kgraph

leads to:

    2021-07-10 13:38:40,382 - annb - INFO - Order: [Definition(algorithm='kgraph', constructor='KGraph', module='ann_benchmarks.algorithms.kgraph', docker_tag='ann-benchmarks-kgraph', arguments=['angular',

[2021-07-10 10:47] DmitryKey commented on #241
hello! Is there some progress on releasing the new framework? Specifically I'm interested to see the I/O libraries to handle loading of 100M or 1B vectors. When using for instance HNSW directly (code taken from the creators of it), data load becomes a bottlneck -- and this is not an issue of HNSW, but more a pure I/O slowness. I've been using this code implemented by Yandex (as part of open sourci

[2021-07-10 16:19] maumueller commented on #241
We are in the final phase, so hopefully the framework will be released in a week or two. We memory-map binary files, roughly like https://github.com/facebookresearch/faiss/blob/master/contrib/datasets.py#L194-L199.

[2021-07-10 16:22] maumueller commented on #246
@DmitryKey

The docker containers are still going to use python 3.6 if you didn't update the Dockerfile in https://github.com/erikbern/ann-benchmarks/blob/master/install/Dockerfile by using a more recent ubuntu release. You could use the old `requirements.txt` inside the docker containers (https://github.com/erikbern/ann-benchmarks/blob/master/install/Dockerfile#L8-L9) and another file locally to

[2021-07-10 17:44] DmitryKey commented on #241
sounds great! Looking forward to test it.

[2021-07-11 15:21] DmitryKey commented on #246
thanks @maumueller ! I've upgraded the common Dockerfile to ubuntu 20.04 and adjusted the python installation instructions:

[code]

next, I had to modify the sptag's Dockerfile:
[code]

Running the algorithm with `python run.py --algorithm sptag` begins normally, but after a while I'm getting:

[code]

if you have ideas, what to check, please let me know.

[2021-07-13 19:08] DmitryKey commented on #246
@erikbern thanks! Actually I'm thinking it could be better to always use a specific release of each algorithm (where available) -- have you considered this? For instance, I was just trying to compile faiss and can see that it tries to pull certain resource from Python 3.8:

[code]

this might be originating from ubuntu 20.04 itself, but it just occurred to me that having a reproducible "compilabil

[2021-07-13 19:13] maumueller commented on #246
I fixed versions for the reproducibility setup for https://arxiv.org/abs/1807.05614 (e.g., https://github.com/maumueller/ann-benchmarks-reproducibility/blob/master/install/Dockerfile.ngt#L7) but I find it hard to imagine that developers will update these versions. Using the most recent version (with a chance of failing) seems more robust in terms of presenting up-to-date results.

[2021-07-13 20:50] erikbern commented on #246
I'm torn about it – the benefit of pinning versions is that things will be more stable, but the drawback is that we'll use outdated versions during benchmarks. I think to some extent the onus over time could be on the library developers to make sure the latest version builds and runs correctly (eg the FAISS developers seem quite eager to push updates to ann-benchmarks) but I'm not sure if the "mar

[2021-07-19 09:07] DmitryKey commented on #246
@maumueller I agree -- may be not the developers of the specific algorithm, but developers of ann-benchmarks could have the versions fixed -- and I see you did that in Milvus's case -- I've had issues compiling it with Python 3.7, but it worked with Python 3.6. Here is the full list of algos that compiled (some of them still failed, like diskann):

[code]

I'm conversing with Milvus developers on

[2021-07-19 09:08] DmitryKey commented on #246
@erikbern yes, you are right. It is quite a task to ask the whole ANN community to timely push updates. However, I was impressed to see that this repo is cited in google research github. Great job!

[2021-07-21 13:59] KinglittleQ opened #253 "Update benchmark results"
It has been a while since the last time the benchmark results were updated. Do you have any plan to rerun the benchmark and update the README?

[2021-07-21 16:29] erikbern commented on #253
Yeah that would be a good idea! Maybe I'll set aside some time and do it soon.

[2021-07-21 16:36] jermp commented on #250
Hello @maumueller,
what do you mean by "hdf5 files that work on my setup" exactly?

The above script "test.py" produces correct hdf5 files but, however,
I was unable to figure out how to run the benchmark
specifying a custom dataset without modifying the code itself.

Is there a better way? Have you tried to actually run the benchmark on such test data after its creation?

I think everyone would e

[2021-07-21 19:03] maumueller commented on #250
Technically you are supposed to write your code in https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/datasets.py and add your dataset to `DATASETS` in the very bottom. Maybe that's the confusion?

For the test above, I commented out https://github.com/erikbern/ann-benchmarks/blob/master/ann_benchmarks/main.py#L60 and the other occurrence to make it load any kind of file.

[2021-07-22 08:43] jermp commented on #250
Ah ok, that's actually what I did.
Perhaps, you could consider to comment the code you reference above
in the argument parser
and just suggest predefined datasets if the use does not provide any.
Thanks.

[2021-07-22 09:02] maumueller commented on #250
But isn't it exactly doing that? It seems to me that if anything should be added, then  some clean documentation of how to add a dataset? :-)

[2021-07-24 06:34] DmitryKey commented on #246
Hey guys, I wanted to ask for your advice: not sure if something is misconfigured on my side, but some of the algorithms run into timeout issue.

Here is one example:

    2021-07-23 15:58:24,017 - annb.17c6b01171 - INFO - Created container 17c6b01171: CPU limit 1, mem limit 9590553344, timeout 7200, command ['--dataset', 'glove-100-angular', '--algorithm', 'sptag', '--module', 'ann_benchmarks.alg

[2021-07-27 17:49] DmitryKey commented on #246
I tweaked the sleeping schedule of my machine -- still same issue. Will upgrade docker next from 3.3.1 to more recent one.

Also noticed stable ram insufficiency for Puffin algorithm. Is this a known issue?

[code]

[2021-08-07 14:42] stephenleo opened #254 "Move from OpenDistro to OpenSearch KNN"
OpenDistro is migrating to OpenSearch: https://opendistro.github.io/for-elasticsearch/blog/contribution/2021/04/introducing-opensearch/

I'm working on a PR to move the OpenDistroKNN to OpenSearchKNN.

[2021-08-09 09:52] #254 closed

[2021-08-11 20:40] filipecosta90 opened #256 "Support for an common JSON benchmark results file"
Apart from being able to generate the results website, I believe that for a continuous persistency of results/sharing/post-processing/visualization, being able to export them as a common JSON benchmark schema would be extremely beneficial.

[2021-08-23 12:02] PratyushGoel opened #257 "ERROR - Child process for container raised exception 137 : Annoy"
Using Python v3.6.10
Followed all the instructions of readme.

Command `python run.py --dataset glove-25-angular --docker-tag ann-benchmarks-nmslib` worked perfectly and generated the ouput graph for nmslib on glove-25-angular dataset.

While running Annoy on dataset glove-25-angular using command `python run.py --dataset glove-25-angular --docker-tag ann-benchmarks-annoy` I get error
ERROR - Chil

[2021-08-23 12:18] maumueller commented on #257
How much RAM do you have available on your setup? It could run OOM.

[2021-08-23 16:24] PratyushGoel commented on #257
I am using mac with 16gb memory.

You are right ! The docker preferences was set to 4 GB of RAM only. Maybe, thats why the error was occuring.
Increasing it to 16GB seems to be working.

Thanks for the help !

[2021-08-24 07:16] #257 closed

[2021-09-07 17:36] CarlaLeal opened #259 "What is meant by setting "parallelism" to 3?"
Is "parallelism" a setting for the AWS instance or is it an argument that should be included when running python install.py or python run.py?
![image](https://user-images.githubusercontent.com/20480027/132387320-b83a7546-28e3-4b36-a486-03cb7777352c.png)

[2021-09-07 18:43] #259 closed

[2021-09-14 13:06] 2492202119 opened #260 "how to use --local arg ?"
when i try to use --local for below command:
sudo python3 run.py --dataset gist-960-euclidean --algorithm kgraph --force --runs 1 --count 10 --local
report errors:
xxxxxx:~/ann/ann-benchmarks$ sudo python3 run.py --dataset gist-960-euclidean --algorithm kgraph --force --runs 1 --count 10 --local
2021-09-15 04:58:17,994 - annb - INFO - running only kgraph
2021-09-15 04:58:1**7,994 - root - WARNING

[2021-09-14 13:20] maumueller commented on #260
Does `sudo python3 -c 'import pykgraph'` work on your setup?

[2021-09-15 04:06] 2492202119 commented on #260
i tried this but it seems no this module:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'pykgraph'
Error in sys.excepthook:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/apport_python_hook.py", line 72, in apport_excepthook
    from apport.fileutils import likely_packaged, get_recent_crashes
  File "/usr/l

[2021-09-15 04:17] 2492202119 commented on #260
i found a content in Dockerfile.kgraph. it seems we need install kgraph seperately
FROM ann-benchmarks

RUN apt-get update && apt-get install -y libboost-timer-dev libboost-chrono-dev libboost-program-options-dev libboost-system-dev libboost-python-dev
RUN git clone https://github.com/aaalgo/kgraph
RUN cd kgraph && python3 setup.py build && python3 setup.py install
RUN python3 -c 'import pykgraph'

[2021-09-15 05:28] maumueller commented on #260
Yes, before running locally you have to make sure that the libraries are actually accessible from your Python installation.

[2021-09-22 10:35] 2492202119 opened #261 "what's the physical memory limit ?"
hi,  do we have minimum memory limit for ann workload ?
  we run ann workload with "python3 run.py --dataset gist-960-euclidean --algorithm kgraph --force --runs 1 --count 10" and use cgroup to limit its physical memory 60% of peak memory. we found swapfile hang, ann thread becomes zombie, cpu is 100%. we must reboot our machine.

[2021-09-22 12:17] maumueller commented on #261
For GIST I was experiencing that you need around 16 GB of RAM to carry out all the implementations.

[2021-09-22 12:17] maumueller commented on #256
I worked on something like that but it will take a while before being ready. I agree that it would be nice to have :-)

[2021-09-23 02:13] 2492202119 commented on #261
we are doing experiment to test physical memory to swapfile ratio. we keep total memory equals peak memory. but we tune the ratio of physical memory and try to find the minimal physical memory demand with enough swapfile

[2021-09-23 09:08] SuperSupeng opened #262 "Add Chinese version"
I want to translate the project into Chinese? Is it necessary?😀

[2021-09-26 09:46] #262 closed

[2021-09-28 11:09] shin285 opened #263 "question about metric of recall at K used on the paper"
I saw recall at k in the ann-benchmarks paper. When I look at the formula, it looks like the same formula as precision at k, but it is expressed as recall at k. Is there any reason why it is expressed as recall rather than precision?

[2021-09-29 01:51] shin285 commented on #263
Thanks for the quick reply! I will close this issue. Thank you.

[2021-09-29 01:51] #263 closed

[2021-10-14 17:56] 2492202119 opened #265 "install/Dockerfile.diskann"
hi, i found the diskann algorithm docker images can't be generated for follow issue. it seems MKL lib accessing issue.
Step 1/24 : FROM ann-benchmarks
 ---> 24a97f036f16
Step 2/24 : RUN apt-get update
 ---> Using cache
 ---> c82d4a29f656
Step 3/24 : RUN apt-get install -y wget git cmake g++ libaio-dev libgoogle-perftools-dev clang-format-4.0 libboost-dev python3 python3-setuptools python3-pip
 ---

[2021-10-19 11:27] vamossagar12 opened #267 "ScaNN Docker image build fails"
When trying to install the scann Dockerfile, it fails with this error:

[code]

This seems to be an issue with Ubuntu PPA key(?) but looks like it's being installed correctly in the DockerFile by first updating keyring:

`RUN curl https://bazel.build/bazel-release.pub.gpg | apt-key add -`

and then `RUN apt-get update && apt-get install -y bazel-3.4.1`

Not sure if anyone else faced this issue?

[2021-10-30 12:33] Gian-Alessio opened #275 "Which parameters were used for your published results?"
Hey!

Is there a way to know which parameters were used for your published results? I noticed that in the algos.yaml some approaches like n2 have multiple parameter. Which one lead to the best results using SIFT-128 for example?

[2021-11-01 01:59] erikbern commented on #275
We just run all of them and then remove the results that aren't on the "efficient frontier". We don't track which parameter was the best – different parameter combinations may win at different parts of the tradeoff curve

[2021-11-01 01:59] #275 closed

[2021-11-01 08:58] maumueller commented on #275
@Gian-Alessio: You can read off this information from the interactive plots. See http://ann-benchmarks.com/glove-100-angular_10_angular.html as an example.

[2021-11-09 11:52] miaohenshuai opened #276 "python install.py error"
hi, when i exe 'python install.py', how to fix it?

[code]

[2021-11-09 12:26] maumueller commented on #276
Does this only happen for NGT and other implementations succeed? It seems that it tries to pull `ann-benchmarks:latest`, but that image should have been built locally as the first step of running `python install.py`.

[2021-11-09 12:28] miaohenshuai commented on #276
yeap, other implementations are all failed, how should i fix it.

[2021-11-09 12:32] maumueller commented on #276
Could you share the whole log produced from running `python3 install.py --algorithm annoy`?

[2021-11-09 12:39] miaohenshuai commented on #276
➜ python3 install.py --algorithm annoy
Building base image...
[+] Building 3.1s (13/13) FINISHED
 => [internal] load build definition from Dockerfile                         0.0s
 => => transferring dockerfile: 337B                                         0.0s
 => [internal] load .dockerignore                                            0.0s
 => => transferring context: 34B

[2021-11-17 11:33] vamossagar12 commented on #267
@erikbern here you go.  https://github.com/erikbern/ann-benchmarks/pull/279. It's a pretty small fix. I tested it and running `python3 install --algorithm scann` returned
[code]

[2021-11-18 14:09] #267 closed

[2021-11-30 11:45] carlryn opened #280 "Building image for faiss algorithm fails"
`python install.py --algorithm faiss` fails with the error:

When installing the requirements at line: [RUN python3 -m pip install -r requirements_py38.txt](https://github.com/erikbern/ann-benchmarks/blob/9966b9020eacd432b89f41a13f0c5d82dd6870e4/install/Dockerfile.faiss#L12)

It fails when building the faiss image. Tried also building it manually without install.py with same error. Assuming, this

[2021-11-30 13:43] carlryn commented on #280
The following definition will at least run.
[code]

[2021-11-30 17:13] maumueller commented on #280
Thanks @carlryn (👋 fellow CPHer)

This happens because conda installs pyyaml==5.3.1 and we try to raise it to 5.4 a couple of commits ago. I'l take a look at it in #281

[2021-11-30 17:38] carlryn commented on #280
I found https://github.com/harsha-simhadri/big-ann-benchmarks/blob/main/install/requirements_conda.txt
which at leasts builds the requirements and I can start executing.
My faiss dockerfile became:
FROM ann-benchmarks

RUN apt update && apt install -y wget
RUN wget https://repo.anaconda.com/archive/Anaconda3-2020.11-Linux-x86_64.sh
RUN bash Anaconda3-2020.11-Linux-x86_64.sh -b

ENV PATH /root/anac

[2021-11-30 17:46] #280 closed

[2021-11-30 17:48] maumueller commented on #280
Yes, but I did this unpinned version to fix another problem. I think the fix in #281 is better, it explicitly installs the packages missing in conda.

[2021-12-02 16:03] carlryn opened #282 "Container exit code is not an integer, but a dictionary"
Hej,

Was executing the faiss-ivf and error after what seems to be a succesfull benchmarking run.

I changed the line providing the error message to:
`logger.error(f'Child process for container {container.short_id} raised exception {exit_code}')`

This gives the following output:

Now, changing the line https://github.com/erikbern/ann-benchmarks/blob/b95dda65146156ee93c52e0265c8ee5b62bd11dd/ann_be

[2021-12-02 16:15] carlryn commented on #282
nvm I can see a pull request that actually fixes this...

[2021-12-02 16:38] carlryn commented on #282
Actually the pull request should be accepted.

[2021-12-02 16:39] carlryn commented on #282
And how do I open this, it should not be closed until the pull request is merged in

[2021-12-02 16:59] erikbern commented on #282
I think it's a problem where different versions of Docker returns different things. If you fix it, can you handle both the dict case and the integer case? Thanks!

[2021-12-02 21:26] carlryn commented on #282
I'll fix it.

[2021-12-10 12:42] #282 closed

[2022-01-17 13:55] corneliusschroeder opened #287 "Format of dataset, queries and output"
Hello,
I'm trying to include my own algorithm to benchmark it. However, I'm not sure in which format (type and shape) the dataset, single and batch queries are supplied to the algorithms. In which format should the algorithm return the result? As a list of the indices of the nearest neighbors?
Thanks for your help!

[2022-01-17 16:04] erikbern commented on #287
There's plenty of examples if you look under https://github.com/erikbern/ann-benchmarks/tree/master/ann_benchmarks/algorithms

[2022-01-17 16:04] #287 closed

[2022-01-19 19:33] lmcinnes opened #288 "Support for Jaccard and sparse data"
I've been working on benchmarking pynndescent on other metrics such as Jaccard, and have been using ``ann-benchmarks`` and the ``kosarak`` dataset for that. Some recent PRs (#235 and #238) have changed things a little, and my initial efforts to get the benchmark working with Kosarak were not successful. After a little experimentation it seems that the data is arriving as a dense boolean 2d array (

[2022-01-20 02:16] erikbern commented on #288
I recently ran a benchmark, and I wasn't able to get Jaccard working, so I think something is weird with it. If you know how to fix it, I'd love to see a PR!

[2022-01-20 03:19] lmcinnes commented on #288
I'll try to have a PR soon. Hopefully it will cover both versions of what the sparse data could/should look like. I'm trying to get NGT working (the C++ has a sparse jaccard; not sure if I can make it work with the python interface yet). Either way hopefully next week I can have a PR for review.

[2022-01-20 09:24] maumueller commented on #288
I just ran puffinn on kosarak and that works fine. It's indeed the shared file that still uses the old format. Could you update it @erikbern by creating locally and copying to ann-benchmarks.com?

[2022-01-20 09:29] maumueller commented on #288
I would be interested in hearing your thoughts about the sparse data format, @lmcinnes. I think the sparse format that @GuilhemN  suggested works very well.

[2022-01-20 13:48] erikbern commented on #288
ok, i can do

[2022-01-31 11:13] corneliusschroeder opened #292 "Docker error when including own algorithm"
Hi, I'm trying to include my own algorithm for my master thesis for a while now. The algorithm itself is tested and works with the built docker container after running `install.py`.
However, when running `run.py --dataset random-xxs-3-1000-euclidean --algorithm knn-gpu --batch` I get following error, which I don't understand:

`2022-01-31 11:54:36,923 - annb - INFO - running only knn-gpu
2022-01-3

[2022-01-31 15:01] corneliusschroeder commented on #292
Found the error, my Dockerfile was to blame.

[2022-01-31 15:01] #292 closed

[2022-02-10 19:16] ljak opened #294 "Evaluate TorchPQ"
Hi,

Thanks for the great work !

I found out TorchPQ recently : https://github.com/DeMoriarty/TorchPQ

It could be nice to be added to the list (I'm not the author).

Thanks!

[2022-02-11 08:21] maumueller commented on #294
Seems indeed interesting, but our current version doesn't work nicely with GPUs. It might be a bit difficult to get this included and requires some changes in our docker setup.

If you have the resources @ljak, it would be great if you could give it a try. I'd be happy to help.

[2022-02-15 19:28] alisheikholeslam opened #295 "spatial search on large data set"
I am seeking for pythonic libraries that could be used for spatial searching with good performance using large data set. I am very eager to know if this library can satisfy my needs in terms of execution runtimes and performance.

**_My problem is:_**

I have lots of spheres and want to find corresponding spheres in a distance of each sphere as fast as it is possible because I must call this funct

[2022-02-15 20:25] erikbern commented on #295
pretty much all libraries in ann-benchmarks should handle this use case!

[2022-02-15 20:25] #295 closed

[2022-02-15 21:40] alisheikholeslam commented on #295
Thanks for the rapid response.

I have considered annoy and flann for test. I would be appreciated if you would suggest the other ones, based on your experiences, you think will be among the bests on this subject.

best regards

[2022-03-03 14:11] lmcinnes commented on #288
I think the new sparse format makes sense. My personal preference would be to use a ``scipy.sparse`` matrix format, as that is pretty standard for sparse data. Notably it also allows for easy conversion between a variety of sparse formats. The format @GuilhemN proposed is essentially CSR (compact sparse row) format (an indptr array providing information about how each row indexes into a flat indic

[2022-03-07 14:11] DvirDukhan commented on #256
@maumueller I'm bringing this issue back online. Does the option that we (myself and @filipecosta90) will open a PR for that is valid?

[2022-03-14 01:37] rw-access opened #298 "Evaluate Elasticsearch approximate kNN API"
This was recently released in Elasticsearch 8.0+ and the API is documented [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/knn-search-api.html)

Elasticsearch is distinct in both implementation and product from OpenSearch (Amazon maintained fork), and I expect that the two APIs will have different results. Both are HNSW based.

Thanks for maintaining this repo!

[2022-03-14 03:45] erikbern commented on #298
Feel free to submit a pull request!

[2022-03-18 08:08] marcjulianschwarz opened #299 "Wrong x-axis label values (recall) in README"
I just went through the ann-benchmarks [paper](https://arxiv.org/pdf/1807.05614.pdf). Now I am wondering whether the values on the x-axis in the README plots should be reversed, going from zero to one and not from one to zero. All figures in the paper (and on ann-benchmarks.com) have x-values going from zero to one with a high number of queries per second when recall is closer to zero.

Shouldn't

[2022-03-18 09:04] maumueller commented on #299
Hi Marc,

I find the logit-scale a bit difficult to read as well, but they seem correct to me. The `x` values are going from 0 to 1, the values close to one are just written as 1-10^-1 (0.9),1-10^{-2} (0.99), ...

[2022-03-18 09:08] marcjulianschwarz commented on #299
Hi @maumueller,

sure that makes sense. Didn't see the `1-` there, thanks for pointing that out.
Guess this issue can now be seen as feedback, from what I can tell this scale isn't used elsewhere with ann-benchmarks which makes it confusing.

[2022-03-18 09:08] #299 closed

[2022-05-07 13:07] jgoed commented on #282
Hi everyone,
I'm confused... If this issue is fixed, how does it come that I encounter the exact same problem today using the "main" branch? Note that manually fixing the line in runner.py as purposed above still fixes it.

[2022-06-01 04:03] fcakir opened #301 "Runtime errors for some algorithms on glove-25-angular dataset"
Hello, I've followed these [instructions ](https://github.com/erikbern/ann-benchmarks#running). I wanted to quickly evaluate the algorithms on a single dataset via ```python run.py --dataset glove-25-angular```. However, I get the following errors for ```Elasticsearch```,  ```opensearchknn```, ```FaissIVFPQfs``` and ```vald```.  Is this expected? Do certain algorithms 'fail' for certain datasets?

[2022-06-01 06:57] maumueller commented on #301
For faiss, the dimensionality has divisible by 4. The other three problems are probably implementation specific:

@alexklibisz Can you help with the elasticsearch and opensearchknn?
@kmrmt Is this expected to happen for vald on a 25-dimensional dataset?

[2022-06-03 15:41] fcakir commented on #301
Hi @maumueller, @alexklibisz and @erikbern  please find the terminal output. This is again with ```python run.py --dataset glove-25-angular```. I'll update the thread with individual runs.

[2022-06-08 23:48] kpango commented on #301
@fcakir @maumueller Hi, I am the maintainer of the Vald project.
Unfortunately, Vald does not support non-AVX2 environments.
The CPU Xeon E5-1607 v2 does not support AVX2, so it has been confirmed that Vald does not work properly.

The successor CPU, Xeon E5-1607 v3, supports AVX2 and will work.

[2022-07-11 12:06] dkobak commented on #207
Absolutely agree with @frankier that this would be a great additional feature. I am working on manifold learning / clustering, and what I am interested in is exactly the kNN graph construction time.

It can probably be approximately computed as "index build time + the extrapolated query time for the full dataset" as @erikbern suggested above, however for some algorithms such as PyNNDescent (@lmcin

[2022-07-11 12:17] maumueller commented on #207
Thanks for bringing this up again @dkobak. I think I'm understanding @frankier problem description a bit better now. Isn't it exactly as @erikbern recommends the index building time + the (extrapolated) query time if the dataset would be the query set? This would be straight-forward to implement from the existing data and doesn't even require re-running experiments.

None of the graph-based algori

[2022-07-11 12:31] frankier commented on #207
As said, PyNNDescent does build the knn graph, but it might be that most of the others don't. It would be nice to know whether to use PyNNDescent or another option in this case though.

It could also be that some have cheaper queries when some batching is applied or similar so that building the knn graph ends up cheaper.

[2022-07-11 12:37] maumueller commented on #207
I would be very surprised if that statement about PyNNDescent is true, @frankier. @lmcinnes: can you confirm it? In my world, you don't get a well-performing graph-based search if you don't prune neighbors.

[2022-07-11 13:08] dkobak commented on #207
I can confirm that PyNNDescent builds an actual kNN graph during build time. If you build it with `k` neighbors and later only want to have `k` (or fewer) neighbors, then you don't need to query() at all. That's how PyNNDescent is used in openTSNE (which I am more familiar with): https://github.com/pavlin-policar/openTSNE/blob/master/openTSNE/nearest_neighbors.py#L520 and also in UMAP.

It seems t

[2022-07-11 16:41] GuyAv46 opened #305 "Relative error metric"
I was wondering if there is a way of defining what is a “reasonable” relative error, something similar to recall 0.9, 0.95, 0.99.
Furthermore, how much is this metric is effected by the distance metric?
If you have any experience with this metric I’ll be happy to here about it.
Thanks in advance,
Guy

[2022-07-13 12:53] dkobak commented on #207
Thanks Leland, that's very helpful. Do you know if any other algorithms currently included in `ann-benchmarks` construct kNN graph when building the index?

[2022-07-14 11:22] dkobak commented on #207
Thanks again. All good points.

[2022-08-06 04:34] Polymerase-2 opened #307 "Internal Server Error"
Hi! I am following every step of the instruction and install.py shows that all the algorithms are installed success. But when I run on glove there is an internal server error. Can you please help me? Thanks so much!

`(ann) X@X$ python run.py --dataset glove-100-angular
2022-08-05 23:29:36,948 - annb - INFO - Not running disabled algorithms [Definition(algorithm='dummy-algo-st', constructor='Dummy

[2022-08-07 08:42] gtsoukas opened #308 "category filter"
Would it be in the spirit of this benchmarks to add a second benchmark category for ANN in conjunction with categorial filters?

Most real-world applications of ANN will required category filtering e.g. when searching for cloths in an e-commerce scenario via ANN one might filter by gender (categorial) or availability (categorial).

There are several software products which allow combining ANN and

[2022-08-08 09:28] erikbern commented on #308
I think that would be interesting! I think the downside is
1. Would make it more complex
2. Not sure if there's any obvious public datasets for this?

[2022-08-08 11:37] gtsoukas commented on #308
Fully agree, probably the key reason not to do it.

Datasets from the existing benchmark could be reused if an additional artificial, categorial random variable is introduced, allowing to filter to fractions of the original dataset between 0-100%. The approach is described here: https://towardsdatascience.com/effects-of-filtered-hnsw-searches-on-recall-and-latency-434becf8041c

[2022-08-09 10:50] erikbern commented on #308
I think that makes sense, but it would be nice if there's some more natural way to do it. Eg for the MNIST dataset, filtering by digit 0-9 could be nice.

[2022-08-15 12:43] maumueller commented on #307
It seems `error while creating mount source path '/tartarus/qcyang/ann-benchmarks/ann_benchmarks': mkdir /tartarus: read-only file system` is the problem here. We mount some directories as `read-write` in docker to store results and create datasets, which requires that you can write to these outside of the docker container. This doesn't seem to be the case in your setup.

[2022-08-26 16:16] maksle opened #310 "jelmerk/hnswlib"
Hi,
Is https://github.com/jelmerk/hnswlib being evaluated?

[2022-08-29 22:13] #288 closed

[2022-08-31 02:15] erikbern commented on #310
Nope! Feel free to add if you want to

[2022-08-31 14:40] raulcarlomagno opened #311 "qdrant benchmark"
are you planning to include qdrant in the benchmarks?

[2022-08-31 16:11] erikbern commented on #311
That would be great, but I have no near term plans to implement it myself. If it's easy, feel free to submit a pull request!

[2022-09-07 15:06] #310 closed

[2022-10-07 12:01] vedina opened #313 "Include Solr9 vector search in the benchmark"
https://solr.apache.org/guide/solr/latest/query-guide/dense-vector-search.html

new HNSW implementation in Solr9

[2022-10-07 12:53] erikbern commented on #313
cool, might be worth adding!

[2022-11-03 03:57] alexklibisz opened #316 "Upgrade Ubuntu and Python"
The repo is on Ubuntu 18 and Python 3.6.

I'm having trouble upgrading the Elastiknn benchmarks because the latest Elasticseach Ubuntu installer relies on some things that don't seem to be in Ubuntu 18. I've also jumped through some hoops with Python, e.g., intentionally installing older versions of scipy for compat w/ 3.6.

Any reason not to upgrade? Any dragons to be aware of in case I take a fi

[2022-11-06 00:26] maxsu opened #317 "Can we use ann-benchmarks to benchmark the All-Nearest-Neighbors problem?"
The All-Nearest-Neighbors problem (All-NN) asks us to find all pairs of nearest neighbors in a set of n points in d-dimensions. Classically, there is a [deterministic O(n log n) algorithm](https://link.springer.com/content/pdf/10.1007/BF02187718.pdf), as well as [stochastic O(n sqrt(n))](http://sharif.edu/~zarrabi/papers/cccg-19/ann.pdf) algorithm.

I would like to test the All-NN performance of a

[2022-11-08 09:55] maumueller commented on #317
@maxsu With some manual intervention, this is rather easy to support. (Just change `datasets.py` to not split up train/test but use the dataset for both.) Practically, the dataset files will become really large (because of the n x 1000 groundtruth data), and our brute-force approach should probably be replaced by faiss to compute the groundtruth quicker. From there, it's indeed just using batch mo

[2022-11-18 15:44] raulcarlomagno commented on #311
hi @erikbern
i am implementing the qdrant run, but qdrant-client needs python 3.7 or higher, the base ann-benchmarks docker image runs python 3.6.9
should i write my own docker base image and not use "FROM ann-benchmarks" in my qdrant dockerfile?

[2022-11-21 08:53] maumueller commented on #316
A long time ago, a few implementations failed on Python 3.8, but I'm not sure of the exact status. The base repo runs Python 3.8 and Ubuntu 20.04, it would be great if the docker images use the same.

[2022-11-21 08:54] #307 closed

[2022-11-21 08:55] #301 closed

[2022-11-21 08:55] #276 closed

[2022-11-21 08:55] #265 closed

[2022-11-21 08:56] #261 closed

[2022-11-21 08:56] #260 closed

[2022-11-21 08:56] #253 closed

[2022-11-21 08:57] #246 closed

[2022-11-21 08:57] #241 closed

[2022-11-21 08:57] #232 closed

[2022-11-21 08:57] #225 closed

[2022-11-21 08:57] #223 closed

[2022-11-21 08:59] #135 closed

[2022-11-21 08:59] #157 closed

[2022-11-21 08:59] #159 closed

[2022-11-21 08:59] #187 closed

[2022-11-21 08:59] #83 closed

[2022-11-21 16:04] erikbern commented on #316
Yeah let's upgrade to Python 3.10 (or at least 3.9)

[2022-11-21 19:10] thomasahle commented on #209
Any chance of getting this actually on annbenchmarks.com? :-)

[2022-11-21 20:00] maumueller commented on #209
Sure, please update `create_website.py` to use these plots as well.

[2022-11-21 23:51] raulcarlomagno commented on #311
https://github.com/erikbern/ann-benchmarks/pull/318

[2022-11-25 03:42] erikbern commented on #209
Would be great to have good defaults in the website create script.

I guess it's time to rerun the benchmarks soon!

[2022-11-28 15:58] zhiqihuang commented on #263
I came across this recall metric problem recently. I'm wondering what if k is larger than #positives for some queries, the recall defined in the paper can never be 1.0

[2022-11-30 21:20] kchalkSGS opened #320 "More/better Algorithm implementation documentation"
I see that elastic search and solr both use hnsw algorithms. I see that there are 4 hnsw algorithms on the website. I see that there are elastic search specific implementations in the code base, but I can't tell which of the 4 hnsw algorithms is used by either db. I also happen to know that SCANN is a google algrothim and annoy is from spotify, but those details are not on the site.

It would be v

[2022-11-30 23:38] erikbern commented on #320
There is a ton of configuration going into each algorithm, so it's not always trivial to summarize. I think the easiest is actually to just look in the configuration – in particular the [algos.yaml file](https://github.com/erikbern/ann-benchmarks/blob/master/algos.yaml). Hope that makes sense!

[2022-11-30 23:38] #320 closed